
/*_________________________________________________________________________*/
/* admin lang */

body{
	margin:0;
	padding:0;
	
	/* font-family:'lucida grande',tahoma,verdana,arial,sans-serif; */
	font-family:'Verdana';
	font-size:10px;
	font-weight:bold;
	color:#444444;
	background-color:black;
	color:white;
	overflow-x:hidden;
	
}

a{
	text-decoration:none;
	cursor:pointer;
	color:#00cbdf;
}

.percent{
	color:#00cbdf;
}

h2{
	color:#00cbdf;
	font-size:14px;
	font-weight:bold;
}
h3{
	color:#00cbdf;
	font-size:10px;
	font-weight:bold;
}

.error{
	color:#FFFFFF;
	background-color:#AA0000;
	font-weight:bold;
}
.validation{
	color:#FFFFFF;
	background-color:#00CC22;
	font-weight:bold;
}
