body {overflow-x: hidden;}
html, body {height: 100%;}
.container {padding:0;}
a,a:visited {
color: #009ada;
text-decoration: none;
}
a:hover {text-decoration:none;}
br.brSite {clear:both;display:inline-block;}
#switchL,
#switchR {
position:absolute;
top:10px;
z-index:100;
font-size:90%;
}
#switchL {
left:10px;
}
#switchR {
right:10px;
}
#switchL a,
#switchR a { padding:2px 4px; }
#switchL a:hover,
#switchR a:hover {
padding:2px 4px;
color:#fff;
background-color: #009ada;
border-radius: 3px;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out;
}
#day {
width:100%;
padding: 40px 0 1px 0;
margin: 0;
display:inline-block;
}
#day .btn {
padding: 2px 4px 1px 4px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #009ada;
color:#009ada;
}
#day .left,
#day .right {
font-style:italic;
font-size:12px;
line-height:27px;
text-align:left;
}
#day .center {
font-size:14px;
text-align:center;
}
#day .right::before {
padding-right:4px;
font-family: 'FontAwesome';
content: "\f0a5";
}
.jumboindex {
position:relative;
max-width:800px;
width:100%;
padding: 80px 0 0 0;
margin: 0 auto;
z-index: 10;
background:none;
}
.jumboresult {
margin-bottom:10px;
padding: 30px 30px 10px 30px;
background-color: #dae5f2;
min-height:100px;
}
.jumbotron {margin-bottom:25px;}
.container .jumbotron {padding-right: 0;padding-left: 0;}
.jumboresult kbd {
display:block;
max-width:300px;
width:auto;
margin: 0 0 0 155px;
text-align:left;
padding:0;
color:#333;
background:none;
font-weight:bold;
}
.jumboresult .row{
padding-left:15px;
padding-right:15px;
width:100%;
margin:0 auto;
}
.bottom5 {margin-bottom:5px;}
.logoindex {
max-width:331px;
width:100%;
margin: 0 auto 10px auto;
}
.resultlogo {
padding:0;
margin:0 auto 10px auto;
width:140px;
}
.resultlogo img {
margin:0;
padding:0;
}
.resultsearch,
.resultselect {width:100% !important;}
.btn-autospot {width:100% !important;}
kbd {
background-color: #009ada;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.navbar {border:0;}
.navbar-header {width:100%;}
.navbar-brand,.navbar-default .navbar-toggle {
margin-left:0 !important;
margin-right:0 !important;
float:right;
}
.form-control {
border-color: #009ada;
font-size: 13px;
padding: 4px 10px;
}
.btn-autospot {
color: #fff;
background: #009ada;
}
.tri {
margin:0 15px 15px 0;
float:right;
min-width:150px;
width:200px;
}
.trispace {
margin:0 0 15px 0;
width: 1px;
float:right;
}
.reslutfilters .container-fluid { padding:0;}
.reslutfilters #myNavbar {width:100%;padding:0 0 0 15px;}

.btn {float:left;padding: 3px 4px;margin:5px 0 5px 5px;}
.btn-primary {padding: 6px 12px;background-color: #009ada;border-color:#357ebd;}
.btn-primary:hover {background-color:#357ebd;border-color:#009ada;}
.btn.effacer {background:#EEE;color:#009ada;border-color:#CCC;}
.btn.effacer:hover {background:#DDD;}

.cars {padding-bottom:10px;}
.desc-modele h5,
.desc-prix h5 {font-size:95%;}
.desc-annee h5,
.desc-km h5 {font-size:90%;}
.cardesc1 {
background: #dae5f2;
min-height:40px;
height:40px;
}
.cardesc2 {
min-height:60px;
height:60px;
margin-top:5px;
font-size: 95%;
}
.cardesc3,.cardesc4 {
min-height:35px;
height:35px;
margin:0 0 0 0;
margin-left:-10px;
font-size: 95%;
}
.cardesc5 {
min-height:30px;
height:auto;
margin:0;
font-size: 95%;
font-style:italic;
}
.cardesc5 .retour {clear:both;width:100%;}
.desc-chevaux,
.desc-carbu,
.desc-expert,
.desc-lieu {margin-left:-10px;}
[id*="infos-"].collapse {display: block;}
[id*="infos-"].collapse.in {display: none;}
ul.visusite {
font-size:93%;
float:left;
-moz-padding-start: 0;
-webkit-padding-start: 0;
-khtml-padding-start: 0;
-o-padding-start: 0;
padding-start: 0;
padding: 0;
margin: 0 0 2px -18px;
list-style:none;
display:block;
clear:both;
}
ul.visusite li,
ul.visusite li a {
margin:0 ;
}
ul.visusite li a::before {
padding-right:2px;
font-family: 'FontAwesome';
content: "\f0a4";
}
p.plusinfos{
text-align:right;
width:0;
float:right;
display: none;
}
#myPages {
width:100%;
background:none;
margin: 0 auto;
display:block;
padding:5px;
}
.resultpagination {
min-width:700px;
max-width:760px;
max-height:50px;
width:100%;
float: none;
margin:0 auto 5px auto;
padding:0;
}
.resultpagination .pagination {margin: 0 0 10px 0;}
.opages,
.npages {
margin: 0 auto;
padding: 0 0 0 0;
max-width:500px;
width:500px;
min-height:48px;
height:48px;
background:none;
}
.opages ul,
.npages ul {
margin:0;
padding:0;
display:block;
clear:both;
}

li.avant,li.auto,li.oo,li.spot,li.apres {
position: relative;
float: left;
padding:0 0 0 0;
margin:0;
line-height: normal;
color: #428bca;
text-decoration: none;
background:none;
border:0;
list-style:none;
display:inline-block;
min-height:1px;
}
li.oo {margin: 0 0 0 1px !important;}
li.avant,li.oo,li.apres {
min-width:24px;
max-width: 24px;
width:24px;
}
.opages .fa {
color:#000;
padding-top:11px;
}
.npages .fa {
color:#000;
padding-top:0;
}
.opages .fa:hover,
.npages .fa:hover {
color:#428bca;
}
li.auto {
max-width: 76px;
width:100%;
}
li.spot {
max-width: 91px;
width:100%;
}
#footer {
position: absolute;
left: 0;
right: 0;
bottom: 2px;
padding: 0 0 5px 0;
height:auto;
margin:0;
max-height:25%;
z-index: 0;
}
.indexfooter {
margin: 1px auto 0 auto;
max-width:800px;
}
#logosites {
display:inline-block;
padding:0 5px 0 0;
margin:0 auto;
max-width:800px;
width:auto;
}
#logosites ul {
padding:0;
margin:0 auto;
list-style:none;
}
#logosites ul li {
float:left;
list-style:none;
padding:1px 0;
margin:0;
bottom: 0;
vertical-align: bottom;
width: 8.33333333%;
}
#logosites ul li img { width:100%; }
#logosites ul li img:hover { cursor:pointer; }
#logosites .tooltip-inner {
color: #555;
background-color: #fff;
border:1px solid #009ada;
}
#logosites .tooltip-arrow {border-top-color: #009ada;}
.clearcars {clear:both;display:block;width:100%;height:10px;}
.prixmobile {display:none;}
.cars img {
margin-left: auto;
margin-right: auto;
width:100%;
vertical-align:middle;
display: inline-block;
}
.cars .linkZoom {
min-height:172px;
line-height:172px;
text-align:center;
vertical-align: middle;
display: inline-block;
}
.cars .linkZoom,
.cars .noLinkZoom {
background: #E5E5E5;
}
 select.autotri {
-webkit-appearance: none;
line-height: 1;
}
.autotri {
color:#009ada;
overflow: hidden;
background: url(images/autotri.png) no-repeat right;
}
/* FIN MODIF 06/01/16 */

.clear {clear:both;display:inline-block;width:100%;height:5px;}
.resultfooter {background: #dae5f2;}
.resultfooter .col-sm-4{padding: 30px;}
.cgu,.contact,.referencement,.faq {
width:90%;
margin:0 auto 15px auto;
}
.footericon {
max-width:69px;
width: 100%;
margin: 0 auto;
}
.resultfooter a.list-group-item{
background:none;
border:0;
padding:2px 4px;
color:#009ada;
}
.hide480,.hide767,.hide1025 {display:none;}
.show1025 {display:block;}
.closeFiltres {display:none;}
.close {
color: #009ada;
filter: alpha(opacity=100);
opacity: 1;
}
[id*="myModal-"],
.modal-auto {
max-width:600px;
width:100%;
height:auto;
margin-top:0;
margin-right:auto;
margin-bottom:0;
margin-left:auto;
text-align:left;
}
.checkbox {padding-left: 20px;}
.checkbox label {
display: inline-block;
position: relative;
padding-left: 5px;}
.checkbox label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #009ada;
border-radius: 3px;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after {
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 3px;
padding-top: 1px;
font-size: 11px;
color: #555555;}
.checkbox input[type="checkbox"] {
opacity: 0;}
.checkbox input[type="checkbox"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;}
.checkbox input[type="checkbox"]:checked + label::after {
font-family: 'FontAwesome';
content: "\f00c";}
.checkbox input[type="checkbox"]:disabled + label {
opacity: 0.65;}
.checkbox input[type="checkbox"]:disabled + label::before {
background-color: #eeeeee;
cursor: not-allowed;}
.checkbox.checkbox-circle label::before {
border-radius: 50%;}
.checkbox.checkbox-inline {
margin-top: 0;}
.checkbox-primary input[type="checkbox"]:checked + label::before {
background-color: #009ada;
border-color: #009ada;}
.checkbox-primary input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before {
background-color: #d9534f;
border-color: #d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-info input[type="checkbox"]:checked + label::before {
background-color: #5bc0de;
border-color: #5bc0de;}
.checkbox-info input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-success input[type="checkbox"]:checked + label::before {
background-color: #5cb85c;
border-color: #5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after {color: #fff;}
.radio {padding-left: 20px;}
.radio label {
display: inline-block;
position: relative;
padding-left: 5px;}
.radio label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #009ada;
border-radius: 50%;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out;}
.radio label::after {
display: inline-block;
position: absolute;
content: " ";
width: 11px;
height: 11px;
left: 3px;
top: 3px;
margin-left: -20px;
border-radius: 50%;
background-color: #555555;
-webkit-transform: scale(0, 0);
-ms-transform: scale(0, 0);
-o-transform: scale(0, 0);
transform: scale(0, 0);
-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.radio input[type="radio"] {opacity: 0;}
.radio input[type="radio"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;}
.radio input[type="radio"]:checked + label::after {
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);}
.radio input[type="radio"]:disabled + label {opacity: 0.65;}
.radio input[type="radio"]:disabled + label::before {cursor: not-allowed;}
.radio.radio-inline {margin-top: 0;}
.radio-primary input[type="radio"] + label::after {background-color: #009ada;}
.radio-primary input[type="radio"]:checked + label::before {border-color: #009ada;}
.radio-primary input[type="radio"]:checked + label::after {background-color: #009ada;}
.radio-danger input[type="radio"] + label::after {background-color: #d9534f;}
.radio-danger input[type="radio"]:checked + label::before {border-color: #d9534f;}
.radio-danger input[type="radio"]:checked + label::after {background-color: #d9534f;}
.radio-info input[type="radio"] + label::after {background-color: #5bc0de;}
.radio-info input[type="radio"]:checked + label::before {border-color: #5bc0de;}
.radio-info input[type="radio"]:checked + label::after {background-color: #5bc0de;}
.radio-warning input[type="radio"] + label::after {background-color: #f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before {border-color: #f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after {background-color: #f0ad4e;}
.radio-success input[type="radio"] + label::after {background-color: #5cb85c;}
.radio-success input[type="radio"]:checked + label::before {border-color: #5cb85c;}
.radio-success input[type="radio"]:checked + label::after {background-color: #5cb85c;}

.myFilters-1 {width: auto;height: auto;overflow: hidden;border:0;}
span.linkZoom {display:block;}
span.noLinkZoom {display:none;}
.navbar-default .navbar-toggle {
border-color: #888;
border-style:solid;
border-width:2px;
}

/*MENU FIXE MOBILE 23/02/16*/
#fixedMenu {
    display: inline-block;
    margin:0 0 7px 0;
    padding:0;
	width:100%;
    background:#fff;
}
.fixMenu {
    margin:0;
    padding:0;
    position: fixed;
	z-index:1003;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #666;
}
.mobileSelect {
    width:25%;
    height:35px;
    float:left;
    border:0;
}
.mobileSelect select {
    border:0 !important;
    -webkit-appearance: none;
    height:35px;
    padding:0 0 0 0 !important;
    margin:0 !important;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
#fixedMenu select::-ms-expand {
    display: none;
}
.mobileSelect select:hover,
.mobileSelect:hover {
    cursor:pointer;
}
select.annonceurs {
    background: url(images/annonceur_autospot.png) center center no-repeat;
    background-size:contain;
}
select.suisse {
    background: url(images/suisse_autospot.png)center center no-repeat;
    background-size:contain;
}
select.trier {
    background: url(images/tri_autospot.png) center center no-repeat;
    background-size:contain;
}
.iconFiltres {
    background: url(images/filtre_autospot.png) center center no-repeat;
    background-size:contain;
}
img.openFiltre {
   width:100%;
    min-height:35px;
    max-height:35px;
    position:relative;
    z-index:1002;
    padding:0;
}
#menuMob{
	display:inline-block;
    background:#fff;
}
#fixedFiltres {
    margin:0 auto;
    padding:0 0 0 0;
    width:90%;
    position:relative;
    z-index:1000;
}
#pushFiltres.push {height:35px;}
#pushFiltres.noPush{height:0;}
#fixedFiltres .checkbox-primary {
    display:inline-block;
    width:100%;
    padding:5px 0;
}
#fixedFiltres label {
    margin:10px 0 0 0;
    padding:0 0 0 0;
}
#fixedFiltres .checkbox input[type="checkbox"],
#fixedFiltres .checkbox-inline input[type="checkbox"] {
    position:relative;
    margin-left: 0;
}
#fixedFiltres .checkbox-primary label {
    margin-right:20px;
}
#fixedFiltres .appliquer{
    float:left;
}
#fixedFiltres .effacer {
    float:right;
}

@media screen and (min-width: 1025px) {
#fixedMenu {display:none;}
}
/*FIN MENU FIXE MOBILE 23/02/2016*/

@media (max-width: 1024px) {
#day {padding: 20px 0 0 0;}
#day .left,
#day .right {display:none;}
#day .center {
width:100%;
font-size:12px;
}
ul.visusite {
width:80%;
margin-left:0px;
font-size:92%;
}
ul.visusite li,
ul.visusite li a {
display:inline-block;
float:left;
padding-right:3px;
}
#switchL {
top:0;
left:1%;
font-size:83%;
}
#switchR {
top:0;
right:1%;
font-size:83%;
}
.jumboresult kbd {margin: 0 auto;text-align:center;font-size:80%;}
span.linkZoom {display:none;}
span.noLinkZoom {display:block;}
.jumboindex {max-width:1000px;}
.indexfooter {max-width:740px;}
.row {margin-right: 0;margin-left: 0;}
.desc-modele h5,
.desc-prix h5 {font-size:80%;}
.desc-annee h5,
.desc-km h5 {font-size:80%;}
.hide1025 {display:block;}
.show1025 {display:none;}
.hide767 {display:block;}
.tri {
margin:0 0 15px 1%;
float:left;
min-width:32%;
width:32%;
}
.trispace {
margin:0 0 0 0;
width: 0;
float:left;
}
.cars img {
display:block;
width:inherit;
}
.cars .linkZoom {
display: none;
}
.navbar-header {float: none;}
.navbar-toggle {display: block;}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {display: none!important;}
.navbar-collapse.collapse.in {display: block !important;}
.navbar-nav {
float: none!important;
margin: 7.5px -15px;
}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
}
.jumboresult .col-sm-2,
.jumboresult .col-sm-10,
.jumboresult .col-sm-10 .col-sm-8,
.jumboresult .col-sm-10 .col-sm-3,
.jumboresult .col-sm-10 .col-sm-1 { width: 100%; }
.resultlogo {
margin:0 auto 0 auto;
max-width:140px;
}
[id*="infos-"].collapse {display: none;}
[id*="infos-"].collapse.in {display: block;}
p.plusinfos{
display: block;
width:20%;
font-size:92%;
}
p.plusinfos a:hover{cursor:pointer;}
p.plusinfos a .fa.fa-plus,
p.plusinfos a.collapsed .fa.fa-minus {display:none;}
p.plusinfos a.collapsed .fa.fa-plus,
p.plusinfos a .fa.fa-minus{display:inline-block;}
.cardesc1 {
padding-top:5px;
margin:0;
min-height:30px;
height:30px;
line-height:normal;
display:block;
}
.cardesc2 {
min-height:25px;
height:auto;
margin-top:0;
font-size: 90%;
background: #dae5f2;
}
.cardesc3,.cardesc4 {margin-left:0px;}
.cardesc5 {
width:100%;
min-height:25px;
height:auto;
display:inline-block;
}
.cardesc5 .retour {display:none;}
.desc-modele {width: 58.33333333%;}
.desc-annee {width: 16.66666667%;text-align:right;}
.desc-km {width: 25%;text-align:right;}
.desc-modele h5 {margin:0;}
.desc-annee h5,
.desc-km h5 {margin:0;}
.desc-prix {display:none;}
.desc-cm,
.desc-chevaux,
.desc-carbu,
.desc-boite,
.desc-expert,
.desc-lieu {
font-size:90%;
padding-left:0;
padding-right:0;
margin-left:0;
}
.prixmobile {
display:block;
top:25px;
right:0;
height:25px;
padding: 0 5px;
background:#fff;
color:#000;
position:absolute;
z-index:10;
line-height:25px;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
font-weight:700;
}
#footer { height:auto; }
.resultcars.col-sm-10 {
max-width:100%;
width:100%;
}
.resultcars .col-sm-1,
.resultcars .col-sm-2,
.resultcars .col-sm-3,
.resultcars .col-sm-4,
.resultcars .col-sm-5,
.resultcars .col-sm-6,
.resultcars .col-sm-7,
.resultcars .col-sm-8,
.resultcars .col-sm-9,
.resultcars .col-sm-10,
.resultcars .col-sm-11,
.resultcars .col-sm-12 {
max-width:580px;
width:100%;
margin:0 auto;
float:none;
}
.resultcars .col-sm-12 {
padding-left:0;
padding-right:0;
}
.closeFiltres { display:inline-block; }
#logosites ul li { width: 16.66666667%; }

#myPages .fa-2x {font-size:1.5em;}

    .myFilters-1,
    .reslutfilters,
    #myNavbar,
    .reslutfilters #myNavbar {
    width:0;height:0;display:none !important;
    }
    .jumboresult {
    padding: 10px 10px 10px 10px;
    }
    #topMenuLeft,#topMenuRight,.messagetop,#account,#cart {
	display:none;
    }
	#langue {
	margin-top:32px;
    }
    .page-header {
	border-bottom:0;
    }
}

@media (max-width: 768px) {
.jumboindex,.indexfooter { max-width:740px; }
#day .center {
font-size:12px;
text-align:center;
}
.jumboindex { padding: 0 30px 1px 30px; }
.resultfooter .col-sm-4{ padding: 15px 15px 0 15px; }
.form-group { margin-bottom:7px; }
label {
font-size:95%;
margin-bottom:2px;
}
    #fixedMenu select.input-sm {
    height: 20px;
    line-height: 20px;
}
#fixedMenu .panel-default>.panel-heading {
	padding: 3px 10px;
}
}

@media (max-width: 720px) {
.jumboindex {padding: 10px 30px 1px 30px;}
.cgu,.contact,.referencement,.faq {
width:98%;
margin:0 auto 10px auto;
}

.num li, .num li a {
padding-top: 3px;
padding-bottom: 3px;
font-size:90%;
}

}

@media (max-width: 480px) {
#myPages .fa-2x ,
#myPages .fa {font-size:0.95em;}


#day {padding-top:30px;}
br.brSite {clear:none;display:none;}
#day button.btn.btn-default {
font-size: 12px;
line-height:normal;
}
.logoindex {
max-width: 250px;
margin: 0 auto 7px auto;
}
.form-control {
font-size: 11px;
padding: 4px;
height:30px;
}
.indexfooter {max-width:800px;}
#myNavbar .btn.effacer {float:right;}
#myPages {
padding:0;
}
.opages,
.npages {
margin: 0 auto;
padding: 0 0 0 0;
max-width:315px;
width:315px;
}
li.avant,li.oo,li.apres,li.avant img,li.oo img,li.apres img {
min-width:16px;
max-width: 16px;
width:16px;
}
li.auto, li.auto img {
max-width: 50px;
width:100%;
}
li.spot, li.spot img {
max-width: 60px;
width:100%;
}

}

@media (max-width: 320px) {

}
/* MODIF-AJOUT avril 2016 */
#day .btn {float:none;}
#lang {
position: relative;
    float:right;
    top:5px;
    right:5px;
    width:73px;
    height:15px;
}
.jumbotron .btn {margin:0;}
/* FIN MODIF-AJOUT avril 2016 */