* {
    margin: 0px;
    padding: 0px;
}

.dropdown-nav,
.dropdown-nav ul {
    margin: 0;
    padding: 0;
    display: block;
    position: relative
}
.dropdown-nav > ul > li,
.dropdown-nav ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}
.dropdown-nav:after,
.dropdown-nav>ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.dropdown-nav>ul>li {
    display: inline-block;
    text-align: left;
    height: 100%;
    margin-top: 14px;
}
.dropdown-nav>ul>li>a {
    display: block;
    position: relative;
    padding: 0 35px;
    line-height: 30px;
    height: 100%;
    text-decoration: none;
    overflow: hidden;
    font-size: 15px;
    color: #009ada;
}

#index .dropdown-nav>ul>li>a {
    color: #fff;
}

#header.w-fixed .dropdown-nav>ul>li>a {
    color: #009ada;
}
.dropdown-nav a>i {
    margin-right: 5px
}
.dropdown-nav>ul>li.menu-item-cart>a,
.dropdown-nav>ul>li.menu-item-search>a,
.dropdown-nav>ul>li.menu-item-slidingbar>a {
    padding: 0 15px
}
.dropdown-nav>ul>li.menu-item-has-children>a {
    padding-right: 30px
}

.dropdown-nav ul ul {
    position: absolute;
    padding: 5px 0 10px;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, transform 0.3s;
        background-color: #009ada;
}
.dropdown-nav ul ul li {
border-bottom: 1px dotted #0087bf;
}
.dropdown-nav ul ul ul {
    -ms-transform: translateY(10px);
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0)
}
.dropdown-nav > ul > li:hover > ul,
.dropdown-nav ul ul>li:hover>ul {
    overflow: visible;
    opacity: 1;
    visibility: visible;
    max-height: 2000px;
    -ms-transform: translateY(0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.dropdown-nav ul ul>li>ul {
    left: 100%;
    top: 0
}
.dropdown-nav > ul > li.align-right ul {
    left: auto;
    right: 0
}
.dropdown-nav ul ul li.align-right ul {
    left: auto;
    right: 100%
}
.dropdown-nav ul ul li>a {
    display: block;
    text-decoration: none;
    padding: 10px 20px;
    min-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    color: #fff;
    font-size: 16px;
}
.dropdown-nav ul ul li>a:hover {
    color: #000;
}
.dropdown-nav .megamenu ul ul li > a,
.dropdown-nav .megamenu ul>li>a {
    padding: 10px 0px
}
.dropdown-nav>ul>li>a:after {
    position: absolute;
    display: block
}
.dropdown-nav ul ul li.menu-item-has-children>a:after {
    font-family: 'overlap';
    display: inline-block;
    position: absolute;
    content: '\e838';
    width: 10px;
    right: 10px;
    text-align: center
}
.dropdown-nav ul ul li.align-right > a:after,
.dropdown-nav ul ul li.align-right li.menu-item-has-children>a:after {
    content: '\e829'
}
.dropdown-nav .current-menu-ancestor > a,
.dropdown-nav .current-menu-item>a {
    color: #8accff
}
.dropdown-nav ul li.megamenu {
    position: static
}
.dropdown-nav ul>li.megamenu>ul {
    padding: 10px;
    left: 0;
    right: 0;
    visibility: hidden
}
.dropdown-nav ul>li.megamenu:hover>ul {
    visibility: visible
}
.dropdown-nav ul>li.megamenu>ul>li {
    float: left
}
.dropdown-nav ul>li.megamenu.grid-2-cols>ul>li {
    width: 50%
}
.dropdown-nav ul>li.megamenu.grid-3-cols>ul>li {
    width: 33.33333333%
}
.dropdown-nav ul>li.megamenu.grid-4-cols>ul>li {
    width: 25%
}
.dropdown-nav ul > li.megamenu ul ul {
    position: relative;
    left: 0;
    opacity: 1;
    visibility: visible;
    margin: 0 9px;
    padding: 0px;
    border-top: none;
    box-shadow: none;
    max-height: none;
    max-width: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none
}
.dropdown-nav ul li.megamenu>ul>li>a {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin: 0 10px 10px;
    color: #000
}
.dropdown-nav ul li.megamenu ul li a:after {
    display: none
}
.dropdown-nav > ul > li > a .ol-search {
    font-size: 16px
}


#header {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    height: auto;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: height 0.3s, transform 0.5s, color 0.2s ease, opacity 0.3s;
    transition: height 0.3s, transform 0.5s, color 0.2s ease, opacity 0.3s
}
#header.inactive {
    opacity: 0
}
.no-header #header {
    display: none
}
body:not(.no-title) #header.w-transparent.w-text-dark {
    border-color: rgba(0, 0, 0, 0.05)
}
#header.w-sticky {
    position: fixed;
    height: 60px;
}
#header.w-scrolled {
    opacity: 0
}
#header.active.w-fixed {
    opacity: 1
}
/*body:not(.full-nav-active):not(.no-title) #header.w-transparent:not(.w-fixed) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
}*/
#header:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}
#header.w-dark:before {
    background: #d6edf3;
}
#header.w-transparent:before {
    opacity: 0
}
.fullscreen-nav.full-nav-active #header.w-fixed,
#header.w-transparent:before {
    box-shadow: none
}
#header.w-fixed:before {
    opacity: 0.9;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
}
.fullscreen-nav.full-nav-active #header:before {
    opacity: 0
}
#header.w-full .container {
    max-width: none
}
#header .container {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    height: 85px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s
}
#header.w-scrolled .container,
#header.w-fixed .container {
    height: 65px
}
#header-logo {
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    text-align: center;
    height: 100%;
    margin-left: 25px;
    top: 30px;
}
#header-logo a {
    -ms-transform: none;
    -webkit-transform: none;
    transform: none
}
#header-logo img {
    position: absolute;
    display: block;
    max-width: none;
    min-height: 25px;
    /*max-height: 55%;*/
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
#header-logo .dark-sticky,
#header-logo .light-logo,
#header-logo .light-sticky,
#header.w-dark:not(.w-text-dark) #header-logo .dark-logo,
#header.w-text-light #header-logo .dark-logo,
#header.w-fixed #header-logo .dark-logo,
#header.w-dark.w-fixed #header-logo .dark-sticky {
    opacity: 0
}
#header.w-dark:not(.w-text-dark):not(.w-fixed) #header-logo .light-logo,
#header.w-text-light:not(.w-fixed) #header-logo .light-logo,
#header.w-fixed #header-logo .dark-sticky,
#header.w-dark.w-fixed #header-logo .light-sticky,
.fullscreen-nav.full-nav-active #header:not(.w-fixed) #header-logo .light-logo,
.fullscreen-nav.full-nav-active #header.w-fixed #header-logo .light-sticky {
    opacity: 1
}
.mobile-nav-icon {
    position: absolute;
    z-index: 99;
    display: none;
    cursor: pointer;
    float: right;
    top: 50%;
    left: 15px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: -12px 0 0 0;
    font-size: 30px;
    color: inherit
}
.menu-icon {
    position: absolute;
    top: 11px;
    display: block;
    height: 3px;
    width: 100%;
    background: #009ada;
    -webkit-transition: background 0s 0.2s;
    transition: background 0s 0.2s
}
.full-nav-icon>.menu-icon {
    -webkit-transition: background 0.2s ease-in;
    transition: background 0.2s ease-in
}
.menu-icon:before,
.menu-icon:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background: #009ada;
    -webkit-transition-duration: 0.2s, 0.2s, 0.2s;
    transition-duration: 0.2s, 0.2s, 0.2s;
    -webkit-transition-delay: 0.2s, 0s, 0s;
    transition-delay: 0.2s, 0s, 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}
.menu-icon:before {
    top: -9px;
    -webkit-transition-property: top, -webkit-transform, background;
    transition-property: top, transform, background
}
.menu-icon:after {
    bottom: -9px;
    -webkit-transition-property: bottom, -webkit-transform, background;
    transition-property: bottom, transform, background
}
.full-nav-active span > .menu-icon:before,
.side-nav-active span>.menu-icon:before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}
.full-nav-active span > .menu-icon:after,
.side-nav-active span>.menu-icon:after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.full-nav-active span > .menu-icon:before,
.side-nav-active span > .menu-icon:before,
.full-nav-active span > .menu-icon:after,
.side-nav-active span>.menu-icon:after {
    -webkit-transition-delay: 0s, 0.3s, 0s;
    transition-delay: 0s, 0.3s, 0s
}
.full-nav-active span > .menu-icon,
.full-nav-active span:hover > .menu-icon,
.side-nav-active span > .menu-icon,
.side-nav-active span:hover>.menu-icon {
    background: none!important;
    box-shadow: none!important
}
.fullscreen-nav.full-nav-active #header.w-light .full-nav-icon:hover > .menu-icon:before,
.fullscreen-nav.full-nav-active #header.w-light .full-nav-icon:hover>.menu-icon:after {
    background: #211F1E
}
.full-nav-button {
    position: fixed;
    top: 0;
    right: 0;
    height: 85px;
    -webkit-transition: height 0.3s;
    transition: height 0.3s
}
#header.w-scrolled .full-nav-button,
#header.w-fixed .full-nav-button {
    height: 65px
}
.full-nav-icon {
    position: absolute;
    z-index: 10;
    display: block;
    cursor: pointer;
    float: right;
    top: 50%;
    right: 30px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    margin: -12px 0 0 0;
    font-size: 30px
}
#top-nav {
    display: block;
    background: transparent;
    list-style: none;
    height: 100%;
    position: relative
}
#top-nav .top-menu2 {
    position: absolute;
    display: block;
    height: auto;
    top: 30%;
    right: 15% !important;
    /* right: 0; */
    text-align: right;
}
.dropdown-nav li:hover > a,
.dropdown-nav li.current-menu-ancestor > a,
.dropdown-nav li.current-menu-item>a {
    color: #009ada;
}
#index .dropdown-nav li:hover > a,
#index .dropdown-nav li.current-menu-ancestor > a,
#index .dropdown-nav li.current-menu-item>a {
    color: #fff;
}
#header.w-fixed .dropdown-nav li:hover > a,
#header.w-fixed .dropdown-nav li.current-menu-ancestor > a,
#header.w-fixed .dropdown-nav li.current-menu-item>a {
    color: #009ada;
}
.dropdown-nav li.current-menu-item>a:hover {
    color: #000;
}
.w-dark .dropdown-nav ul li.megamenu>ul>li>a {
    border-bottom-color: #7b7B7B
}
.center-nav #top-nav .top-menu2 {
    text-align: center;
    padding-right: 160px;
    padding-left: 160px
}
.center-nav .top-menu2>li>a {
    font-size: 12px;
    padding: 0 20px
}
.center-nav .top-menu2 li.megamenu>ul>li>a {
    font-size: 12px
}
#top-nav .ex-menu {
    float: right;
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    bottom: 0;
    height: auto;
    text-align: right;
    margin-top: -15px;
    margin-right: -15px
}

#side-nav {
    position: fixed;
    z-index: 8888;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #777;
    background: #fff;
    overflow: hidden;
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateX(-100%);
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}
#side-nav.w-text-light {
    color: #fff;
    background: #d6edf3;
}
.right-nav #side-nav {
    left: auto;
    right: 0
}

.side-nav-wrapper {
    position: relative;
    display: block;
    padding: 0 20px;
    height: 100%
}
.mobile-nav.side-nav-active #side-nav {
    -ms-transform: translateX(0);
    -webkit-transform: translate3d(0, 0, 50px);
    transform: translate3d(0, 0, 50px)
}
#vertical-nav,
#vertical-nav * {
    -webkit-user-select: none;
    user-select: none
}
#vertical-nav {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 12px 0;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in
}
.vertical-menu {
    position: relative;
    display: block;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
}
.vertical-menu li {
    position: relative;
    display: block;
    min-height: 40px;
    line-height: inherit;
    padding: 0;
    margin: 0;
}
.vertical-menu li a,
.vertical-menu .back-to-parent span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: inherit;
    padding: 5px 0;
    cursor: pointer;
    color: inherit
}
.vertical-menu a>i {
    margin-right: 8px
}
.vertical-menu li.menu-item-has-children>a>span {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    text-align: right
}
#vertical-nav .vertical-menu li.menu-item-has-children>a>span {
    position: absolute;
    right: 0
}

.vertical-menu,
.vertical-menu ul {
    position: relative;
    display: block;
    float: left;
    height: auto;
    width: 100%;
    margin: 0
}
.vertical-menu ul {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 0 0 100%
}
.vertical-menu ul li {
    display: block
}
.vertical-menu > li > a,
.vertical-menu .back-to-parent span {
    text-transform: uppercase;
    font-weight: 700;
    color: #009ada;
}
.vertical-menu li:hover>a {
    color: #8accff
}

.vertical-menu li,
.vertical-menu li a {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out
}
.vertical-menu .current-menu-ancestor > a,
.vertical-menu .current-menu-item>a {
    color: #009ada;
}
.vertical-menu .current-menu-item>a:hover {
    color: #000;
}
.vertical-menu li a {
    color: #009ada;
}
.vertical-menu li a:hover {
    color: #000 !important;
}
#side-menu {
    margin: 0;
    padding: 0 0 30px 0
}
#side-menu li {
    padding: 0;
    margin: 0;
    list-style: none
}
#side-menu li a {
    display: block;
    padding: 10px 0;
    color: inherit;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 16px
}
#side-menu li:hover a {
    color: #8accff
}


@media only screen and (max-width: 1079px) {
    #header {
        display: block;
        -ms-transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 100px);
        transform: translate3d(0, 0, 100px)
    }
    #header .container {
        height: 65px;
        max-width: none
    }
    .mobile-nav-icon {
        display: block
    }
    #header-logo {
        float: none;
        margin: 0 60px
    }
    #header #top-nav {
        position: absolute;
        z-index: 10;
        top: 0;
        right: 15px;
        width: 60px
    }
    #top-nav .top-menu2 {
        position: relative
    }
    #header .dropdown-nav > ul > li:not(.menu-item-search),
    #header .dropdown-nav .full-nav-icon {
        display: none
    }
    .ex-menu>.menu-item-search>a {
        padding-right: 0
    }
    .full-nav-button {
        display: none
    }
    #side-nav {
        max-width: 400px;
        padding-top: 65px;
        -ms-transform: translateX(-100%);
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s
    }
    #live-search-form {
        margin: 10px 0
    }
    .main-content.header-space {
        padding-top: 65px
    }
}

li.forfaitBody span.up {
    display: inline-block;
    min-height: 439px;
    padding-left: 60px;
}
@media (max-width: 991px) {
li.forfaitBody span.up {
    min-height: auto;
}
}

.contact-info li {
    display: inline-block;
    background: #e6f8fd;
    width: 20px;
    height: 20px;
    text-align: center;
}
.contact-info li a:hover {
    color: #000;
}
.contact-info li:last-child {
    border-right: none;
}
ul.contact-info {
    float: right;
    position: absolute;
    right: 70px;
    top: 19px;
}
#indexSlogan h1 {
    /*margin: 95px 20px 0 20px !important;*/
    text-align: center;
    color:#fff;
    font-size: 36px!important;
}
#indexSlogan h2 {
    color:#fff;
    font-size: 26px;
    text-align: center;
}
}


ul.forfait, ul.forfait li {
    position: relative !important;
}
.protect_mk {
    display: inline-block;
    font-size: 29px;
    line-height: 32px;
    padding: 0;
    position: absolute;
    color: #fff;
    left: 55px;
    bottom: 31px;
    font-weight: bold;
}
.carteHead, .carteFoot {
    position: relative;
}
.protect_mk2 {
    bottom: 10px;
    display: inline-block;
    font-size: 30px;
    left: 34%;
    position: absolute;
    font-weight: bold;
}
li.forfaitFoot.scanexpert {
    background-size: 100% 100%;
}
li.forfaitBody {
    background-size: 100% 100%;
}
li.forfaitHead.scanexpert {
    background-size: 100% 100%;
}
li.forfaitHead.visioexpert {
    background-size: 100% 100%;
}
li.forfaitFoot.visioexpert {
    background-size: 100% 100%;
}
ul.forfait, ul.forfait li {
    width: 550px;
}

@media (max-width: 1200px) {
    .protect_mk2 {
    left: 31%;
}
}
@media (max-width: 991px) {
    .protect_mk2 {
    left: 25%;
}
}
@media (max-width: 768px) {
    .protect_mk2 {
    left: 50%;
    margin-left: -175px;
}
}

@media only screen and (max-width: 480px) {
    #header-logo img {
    max-height: 55%;
}
    ul.contact-info {
    right: 15px;
    top: 20px;
}
#indexSlogan h1 {
    margin: 41px 0 0 0 !important;
    /*font-size: 12px !important;*/
}
.mobile-nav-icon {
    margin: -12px 0 0 0;
}
#header-logo {
    top: 30px;
    right: 15px;
}
.protect_mk2 {
        left: 50%;
    margin-left: -126px;
}
.protect_mk {
    left: 3px;
    bottom: 16px;
    width: 100%;
    font-size: 20px;
}
.protect_mk2 {
    font-size: 25px;
}
}
#nosForfaits {
    width: auto !important;
}

.carteHead {
    position: relative;
}
.protect_mk3 {
    display: inline-block;
    font-size: 29px;
    line-height: 32px;
    padding: 0;
    position: absolute;
    color: #fff;
    left: 70px;
    bottom: 20px;
    font-weight: bold;
}
.carteBody ul {
    margin-left: 10px;
}
.spacebottom {
    height: 17px;
    width: 100%;
}
@media (max-width: 991px) {
    .protect_mk3 {
    bottom: 15px;
    left: 50%;
    margin-left: -51px;
    font-size: 20px;
}
}
/* 
span.imgNum.mk2 {
    left: 37%;
}
 */
.subtitle_legals{
	margin-top:40px;
}

