#index {
    position:relative;
    top:0;
    left:0;
    max-width:100%;
    z-index: 100;
    background-color:#d6edf3;
    height: 655px;
}
#indexImage {
    background: url('../images/index/accueil1680p.jpg') no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}
#indexSlogan {
    padding: 0 20px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.maxW {max-width: 100% !important;}
.tabQuestion {width:100%;display:inline-block;text-align:center;color:#009ada;padding: 15px 0;font-size:15px;}
.br1024 {display:none;}
.indexBg {z-index:-1;}
#indexL1 {float:left;width:50%;height:60px;}
#indexL2 {float:left;width:50%;height:60px;}
#indexSlogan h1 {text-align:center; padding: 0 0 0 0;}
#indexL3 {
float:left;
width:100%;
height:460px;
background-image: url(../images/index/index_1920x500.png);
background-position: bottom center;
background-repeat:  no-repeat;
background-size:100%;
}
#index #logoPC {width:100%;float:left;padding: 0 0 0 15px; display:block;}
#index #logoMOB {display:none;}
#index #logo {width:auto;float:left;padding: 0 10px 0 0; display:block;}

.clearIndex {clear:both;display:block;width:100%;height:80px;}
.clear50 {clear:both;display:block;width:100%;height:50px;}
#indexL2 #publi,#indexL2 #nosForfaits  {float:left;width:20%;height:30px;z-index:2;padding: 0;}
#indexL2 #publi div,#indexL2 #nosForfaits div {text-align:center; background:none;}
#indexL2 #user {float:left;width:20%;height:30px;z-index:2;}
#indexL2 #lang {float:left;width:40%;height:30px;z-index:2;}
#indexL2 #user div, #indexL2 #publi div, #indexL2 #publi a {background:none;}
#indexL2 #lang a, #indexL2 #publi a,#indexL2 #nosForfaits a {color:#009ada;line-height:35px;padding:0;}
#indexL2 #user div {color:#009ada;line-height:33px;padding:0;}
#indexL3 .homme {
position:absolute;
bottom:0;
width:2.8%;
height:100%;
margin-left:16.666666%;
background: url(../images/index/index_homme1.png) bottom center no-repeat;
background-size: contain;
}
#indexL3 .voiture {
position:absolute;
bottom:0;
width:13%;
height:100%;
margin-left:19.5%;
background: url(../images/index/index_voiture1.png) bottom center no-repeat;
background-size: contain;
}
#indexL3 .voiture:hover {
background: url(../images/index/index_voiture2.png) bottom center no-repeat;
background-size: contain;
}
#indexL3 .femme {
position:absolute;
bottom:0;
width:9%;
height:100%;
margin-left:80%;
background: url(../images/index/index_femme1.png) bottom center no-repeat;
background-size: contain;
}
#indexL3 .femme:hover {
background: url(../images/index/index_femme2.png) bottom center no-repeat;
background-size: contain;
}
#indexL3 .homme a, #indexL3 .voiture a, #indexL3 .femme a {display:block;width:100%;height:100%;}

.tooltip.top .tooltip-inner {
background-color:#009ada;
}
.tooltip.top .tooltip-arrow {
border-top-color:#009ada;
}
.homme:hover, .voiture:hover, .femme:hover {cursor:pointer;}

#indexNav {max-width:1920px;width:100%;margin:0 auto;display:block;padding: 0 5%}

.clear1920 {clear:both;display:inline-block;width:100%;height:5px;}
.clear1280 {clear:both;display:none;width:100%;height:5px;}
.td165 img {float:left;width:100%;padding:0;margin-bottom:6%;}
.td340 img {float:left;width:100%;padding:0;margin-bottom:3%;}
.td520 img {float:left;width:100%;padding:0;margin-bottom:2%;background:#dae5f2;}
.td520 .search {float:left;width:100%;padding:0;margin-bottom:2%;
height:50%;background:#dae5f2;}
.spacer {position:relative;z-index:-1000;top:0;left:0}

/* <= 1920 */
#indexContainer1920 {max-width:1920px;width:98%;margin:0 auto;padding:0;display:block;}

#indexContainer1920 .td165 {float:left;width:8.59375%;margin-right:0.52083%;}
#indexContainer1920 .td165 .img165 {float:left;width:100%;padding:0;}


#indexContainer1920 .td340 {float:left;width:17.70833%;margin-right:0.52083%;}
.td340 .img340 {float:left;width:100%;padding:0;}

#indexContainer1920 .td340 .img165 {float:left;width:48%;margin-right:4%;}
.td520{float:left;width:27.08333%;margin-right:0.52083%;}
/* end <= 1920 */

/* <= 1280 */
#indexContainer1280 {max-width:1280px;width:98%;margin:0 auto;padding:0;display:none;}

#indexContainer1280 .td165 {float:left;width:100%;margin-right:0;margin-bottom:0.75%;}
#indexContainer1280 .td165 .img165 {float:left;width:13.616093%;margin-right:0.78125%;margin-bottom:0;padding-bottom:0;}

#indexContainer1280 .td340 {float:left;width:100%;margin-right:0;margin-bottom:0.75%;}
#indexContainer1280 .td340 .img340 {float:left;width:28%;margin-right:0.78125%;margin-bottom:0;padding-bottom:0;}
#indexContainer1280 .td340 .img520 {float:left;width:42.2%;margin-right:0.78125%;margin-bottom:0;padding-bottom:0;}

#indexContainer1280 .td520 {float:left;width:100%;margin-right:0;margin-bottom:0.75%;}
#indexContainer1280 .td520 .img165 {float:left;width:13.616093%;margin-right:0.78125%;margin-bottom:0;padding-bottom:0;}
#indexContainer1280 .td520 .img520 {float:left;width:42.410703%;margin-right:0.78125%;margin-bottom:0;padding-bottom:0;}

/* end <= 1280 */

/* <= 480 */
#indexContainer480 {max-width:480px;width:95%;margin:0 auto;padding:0;display:none;z-index:0;}

#indexContainer480 .td480 {float:left;width:100%;margin-right:0;margin-bottom:2%;}
#indexContainer480 .td480 .img340 {float:left;width:27.291666%;margin-right:2.083333%;margin-bottom:0;padding-bottom:0;}
#indexContainer480 .td480 .img520 {float:left;width:41.25%;margin-right:2.083333%;margin-bottom:0;padding-bottom:0;}
.swiper-wrapper {align-items: center;}
.swiper-container {background: #B5b5b5;}
/* (1) 23/03/17 */
.swiper-slide {max-height:170px;}
.swiper-slide img {max-height:100%;}
/* /(1) 23/03/17 */
/* end <= 1280 */

/* formulaire 520 */
#indexContainer480 .td480 .form480,
.td480 .form480 {display:block;float:left;width:100%;height:100%;margin:0;padding:0 10px 0 10px;background: #d6edf3;}
#indexContainer1280 .td520 .form1280 {display:block;float:left;width:42.410703%;height:100%;margin:0 0.78125% 0 0;padding:0 15px 0 15px;background: #d6edf3;}
#indexContainer1920 .td520 .form1920 {display:block;float:left;width:100%;height:100%;margin:0 0.78125% 2% 0;padding:0 15px 0 15px;background: #d6edf3;}
#indexContainer1280 .td480 .form480 .form-group,
.td480 .form480 .form-group,
#indexContainer1280 .td520 .form1280 .form-group,
#indexContainer1920 .td520 .form1920 .form-group {margin:2% 0 0 0;padding:0;}
.formBG {background: #fff;padding:0;width:100%;height:100%;display:inline-block;}
.form480 select.form-control.btn50,
.form1280 select.form-control.btn50,
.form1920 select.form-control.btn50 {width:21%;float:left;border-radius: 0;border:0;margin:0;height:25px;-webkit-box-shadow:none;box-shadow:none;}
.form480 select.form-control.btn25,
.form1280 select.form-control.btn25,
.form1920 select.form-control.btn25 {width:12%;float:left;border-radius: 0;border:0;margin:0;height:25px;-webkit-box-shadow:none;box-shadow:none;}
.form480 button.btn.btn-primary.btn25,
.form1280 button.btn.btn-primary.btn25,
.form1920 button.btn.btn-primary.btn25{width:10%;padding:9px 5px;float:left;border-radius: 0;margin:-15px 0 0 0 !important;}

.form480 select.form-control.btn40,
.form1280 select.form-control.btn40,
.form1920 select.form-control.btn40 {width:40%;float:left;border-radius: 0;border:0;margin:0 0 0 0 !important;height:25px;-webkit-box-shadow:none;box-shadow:none;}/*20-01-201 */

.form480 input.form-control.btn80,
.form1280 input.form-control.btn80,
.form1920 input.form-control.btn80 {width:80%; float:left; border-radius: 0;border: 0; margin: 0!important;height:25px;-webkit-box-shadow:none;box-shadow:none;}

.form480 button.btn.btn-primary.btn20,
.form1280 button.btn.btn-primary.btn20,
.form1920 button.btn.btn-primary.btn20 {width:20%;float:left;border-radius: 0;border:0;margin:0 0 0 0 !important;padding: 0 !important;height:25px;-webkit-box-shadow:none;box-shadow:none;}/*20-01-201 */

.form480.criteres-mobile {
    background: #d6edf3;
    padding: 10px 5px;
}

label.btn44 {width:44%;float:left;border-radius: 0;margin:0;text-align:center;background:#fff;height:15px;font-size:13px;}
label.btn24 {width:24%;float:left;border-radius: 0;margin:0;text-align:center;background:#fff;height:15px;font-size:13px;}
p.formPlus {text-align:left;float:left;font-size:11px;line-height:12px;height:12px;margin:0;padding:0;width:50%;}
p.formPlus:last-child{text-align:right;}
/* end formulaire 520 */

.noL {margin-left:0!important;}
.noR {margin-right:0!important;}
.noPadL {padding-left:0!important;}
.noPadR {padding-right:0!important;}
.noR2 {}

/*********** NOUVEL AFFICHAGE PC GALERIE INDEX (mars 2017) ************/

/*********** GALERIE INDEX 1920 (mars 2017) ************/
#indexContainer1920 .col165 {
float:left;
width:8.5%;
margin:0 0 0 0;
margin-right: 0.8333%;
padding: 0 0 0 0;
}

#indexContainer1920 .col340 {
float:left;
width:17%;
margin-right: 0.8333%;
padding: 0 0 0 0;
}

#indexContainer1920 .col520 {
float:left;
width:27%;
margin-right: 0.8333%;
padding: 0 0 0 0;
}

#indexContainer1920 .col165 .lig115 {
float: left;
padding: 0 0 0 0;
margin:0 0 0 0;
margin-bottom: 10px;
height:18%;
max-height:114px;
overflow:hidden;
}

#indexContainer1920 .col340 .lig115colx2 {
float: left;
width:48%;
padding: 0 0 0 0;
margin:0 4% 0 0;
margin-bottom: 10px;
height:18%;
max-height:114px;
overflow:hidden;
}

#indexContainer1920 .col340 .lig240 {
float: left;
padding: 0 0 0 0;
margin:0 0 0 0;
margin-bottom: 10px;
height: 38.5%;
max-height:238px;
overflow:hidden;
}

#indexContainer1920 .col520 .lig240 {
float: left;
padding: 0 0 0 0;
margin:0 0 0 0;
margin-bottom: 10px;
max-height:238px;
height: 39%;
overflow:hidden;
}

#indexContainer1920 .col520 .lig115Form {
float: left;
padding: 0 0 0 0;
margin:0 0 0 0;
margin-bottom: 10px;
width:100% !important;
height:18%;
max-height:114px;
overflow:hidden;
}
.lig115Form {
width:100% !important;
}

#indexContainer1920 .w165h115 {
height:18%;
max-height:114px;
}
#indexContainer1920 .w340h240 {
height: 38.5%;
max-height:238px;
}
#indexContainer1920 .w520h240 {
height: 38.5%;
max-height:238px;
}

#indexContainer1920 .w165h115,
#indexContainer1920 .w340h240,
#indexContainer1920 .w165h115,
#indexContainer1920 .w520h240 {
float: left;
width:100%;
background-origin: content-box;
background-color: #d6edf3 ;
background-image: url(../img/blank.png);
background-position: top center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#indexContainer1920 .col165 .lig115,
#indexContainer1920 .col340 .lig240,
#indexContainer1920 .col340 .lig115colx2,
#indexContainer1920 .col520 .lig240 {
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);  
}

#indexContainer1920 .col165 .lig115:hover:not(.nozoom),
#indexContainer1920 .col340 .lig240:hover:not(.nozoom),
#indexContainer1920 .col340 .lig115colx2:hover:not(.nozoom),
#indexContainer1920 .col520 .lig240:hover:not(.nozoom) {
-webkit-transform: scale3d(1.4, 1.4, 1);
transform: scale3d(1.4, 1.4, 1);
position:relative;
z-index: 999;  
}

#indexContainer1920 .col520 .lig115Form .w520h115 {
float: left;
width:100%;
margin: 0 0 0 0;
background: #d6edf3;
}
#indexContainer1920 .w520h115 {
height:19%;
max-height:114px;
}
#indexContainer1920 .col520 .lig115Form .w520h115 img {
float:left;
width: 1px;
max-height: 114px;
margin: 0;
padding: 0;
}
#indexContainer1920 .form1920,
#indexContainer1920 .form480 {
float: left;
width:99%;
height:100%;
margin: 5px auto 0 auto;
padding: 5px;
}
/*********** /GALERIE INDEX 1920 (mars 2017) ************/

/*********** GALERIE INDEX 1280 (mars 2017) ************/
#indexContainer1280 .col1280 {
float:left;
width:100%;
margin:0 0 10px 0;
padding: 0 0 0 0;
display: inline-block;
}

#indexContainer1280 .w165h115 {
float: left;
width: 13%;
max-height:115px;
margin: 0 1.5% 0 0;
overflow:hidden;
background-origin: content-box;
background-color: #d6edf3 ;
background-image: url(../img/blank.png);
background-position: top center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);

}

#indexContainer1280 .w165h115:hover:not(.nozoom) {
-webkit-transform: scale3d(1.4, 1.4, 1);
transform: scale3d(1.4, 1.4, 1);
position:relative;
z-index: 999;  
}

#indexContainer1280 .w351h240 {
float: left;
width: 27.5%;
max-height: 240px;
margin: 0 1.5% 0 0;
overflow:hidden;
background-origin: content-box;
background-color: #d6edf3 ;
background-image: url(../img/blank.png);
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);

}

#indexContainer1280 .w537h240 {
float: left;
width: 42%;
max-height: 240px;
margin: 0 1.5% 0 0;
overflow:hidden;
background-origin: content-box;
background-color: #d6edf3 ;
background-image: url(../img/blank.png);
background-position: center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);

}

#indexContainer1280 .w537h115 {
float: left;
width: 42%;
max-height:115px;
margin: 0 1.5% 0 0;
overflow:hidden;
background-origin: content-box;
background-color: #d6edf3 ;
background-image: url(../img/blank.png);
background-position: top center;
background-repeat: no-repeat;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);

}

#indexContainer1280 .w520h115 {
float: left;
width:100%;
margin: 0 0 0 0;
background: #d6edf3;
}
#indexContainer1280 .w520h115 {
height:19%;
max-height:115px;
}
#indexContainer1280 .w520h115 img {
float:left;
width: 1px;
max-height: 115px;
margin: 0;
padding: 0;
}
#indexContainer1280 .form1280,
#indexContainer1280 .form480 {
float: left;
width:99%;
height:100%;
margin: 2px auto 0 auto;
padding: 3px;
}

/*********** /GALERIE INDEX 1280 (mars 2017) ************/

p.insertCar {
position: absolute;
top:0;
left:0;
z-index: 9999;
text-align: center;
width:100%;
height:100%;
font-weight:bold;
font-size: 1.1em;
border:0;
margin: 0 auto;
padding: 15% 0 0 0;
}
p.insertCar:hover {
border:1px solid #009ada;
}
.noMarT {
margin-top: 0 !important;
}

.noMarB {
margin-bottom: 0 !important;
}

.noMarL {
margin-left: 0 !important;
}

.noMarR {
margin-right: 0 !important;
}

@media (max-width: 1440px) {
#indexContainer1920 .w165h115,
#indexContainer1920 .w520h115 {max-height:105px;}
#indexContainer1920 .w340h240,
#indexContainer1920 .w520h240 {max-height:220px;}
}

@media (max-width: 1366px) {
#indexContainer1920 .w165h115,
#indexContainer1920 .w520h115 {max-height:100px;}
#indexContainer1920 .w340h240,
#indexContainer1920 .w520h240 {max-height:210px;}
}

@media (max-width: 991px) {
#indexContainer1280 .w165h115,
#indexContainer1280 .w537h115 {max-height: 64px;height:100%;}
#indexContainer1280 .w351h240,
#indexContainer1280 .w537h240 {max-height: 130px;height:100%;}
p.insertCar {
font-size: 0.8em;
padding: 15% 0 0 0;
}
}
/*********** NOUVEL AFFICHAGE PC GALERIE INDEX (mars 2017) ************/
#testRoutier {width:100%;}
#testRoutier p {
width:100%;
padding: 0 30px 0 35px;
margin: 0;
}
#indexCirclesParent { width: 99%; margin: 0 auto; }
#indexCircles {width:70%;margin:0 auto;}
.circle {float:left;width:33.33333%;}
.circle img {padding:0 20% 0 20%;}
.circle h4, .circle p {text-align:center;}
.circle h4 {padding:10px 0 5px 0;margin:0;}
.circle p {width:90%;margin:0 auto 5px auto;}

#pourquoi {display:block}
#pourquoiMob {display:none}
#pourquoi,#pourquoiMob {width:100%;max-width:1600px;margin:0 auto;padding: 0 10px;}
.title {width:100%;text-align:center;font-size:19px;}
.subtitle {width:100%;text-align:center;font-size:14px;text-transform: uppercase;padding: 5px 0;font-weight:bold;}
.bottomBlue {border-bottom:1px solid #009ada;padding: 0 50px;}
#pourquoi p,#pourquoiMob p{padding:5px;}
#pourquoi ul,#pourquoiMob ul, .tableau ul {list-style: none;padding:0;margin:0;} 
#pourquoi ul li,#pourquoiMob ul li, .tableau ul li {list-style: none;padding:7px;} 
#pourquoi ul li:first-child, #pourquoiMob ul li:first-child, .tableau ul li:first-child {border-top:1px solid #000;}
#pourquoi ul li:last-child, #pourquoiMob ul li:last-child, .tableau ul li:last-child {border-bottom:1px solid #000;} 
#pourquoi ul li:nth-child(2n+1), #pourquoiMob ul li:nth-child(2n+1), .tableau ul li:nth-child(2n+1) {background-color:#dae5f2;}
.tableau ul li.icone {height:80px;width:80%;}
li.icone img {float:left;max-height:60px;vertical-align: middle;padding-right:5px;}
.center {text-align:center;}
.centerDiv {display:inline-block;margin:0 auto;}
img.center {margin:0 auto;}
.img-hover img {
-webkit-transition: all 0.3s linear;
transition: all 0.3s linear;
-webkit-transform: scale3d(1, 1, 1);
transform: scale3d(1, 1, 1);   
}
.img-hover img:hover {
-webkit-transform: scale3d(1.2, 1.2, 1);
transform: scale3d(1.2, 1.2, 1);
position:relative;
z-index: 999;
}
#qui p,#regles p,#secur p,#banniere p {font-size:16px;text-align: justify;padding:5px 15px;}
#qui ul li, #regles ul li {font-size:15px;}
/* ETAPES */
#etapesIndexTab {
width:99%;
display:inline-block;
float: none;
margin-left: auto;
margin-right: auto;
}
#etapesIndexTab .title,
#forfaits .title {
display:block;
float:none;
font-weight: 500;
line-height: 1.1;
max-width:1570px;
width:100%;
margin:0 auto 10px auto;
padding:10px;
font-size:20px;
text-align:center;
}
#etapesIndexTab .ext {max-width:350px;}
#etapesIndexTab img {margin:0 auto;position: relative;}
#etapesIndexTab img a{display: block;position: absolute;}
#etapesIndexTab {display:block;}
#etapesIndexTab H4 {text-align: center;color:#009ada;}
#etapesIndexTab p {margin:0 auto;width:100%;text-align: justify;}
.etapeCenter {
width:1000px;
max-width:100%;
float: none;
margin-left: auto;
margin-right: auto;
padding:0 5px;
}
.bulle {
position:absolute;
z-index:2;
display:inline-block;
bottom:0;
left:0;
width: 30%; 
height: 70%;
}
.fLeft {float:left;}
.hideSmart {display:block;}
.showSmart {display:none;}

ul.forfait,
ul.forfait li {
list-style: none;
margin:0 auto;
padding:0;
width:460px;
}
ul li.forfaitHead {
height:217px;
display:inline-block;
line-height:240px;
color:white;
font-size:70px;
font-weight:normal;
}
li.forfaitHead.scanexpert{background: url(../images/forfaits/scanexpert_head.png) top left no-repeat; position: relative;}
li.forfaitHead.visioexpert{background: url(../images/forfaits/visioexpert_head.png) top left no-repeat;}
li.forfaitBody span.check:before {
content: "\f00c"; /* FontAwesome Unicode */
font-family: FontAwesome;
display: inline-block;
width: 20px; /* same as padding-left set on li */
color:#009ada;
margin-left:0;
}

li.forfaitBody {
height:auto;
background: url(../images/forfaits/forfait_body.png) top left repeat-y;
display:block;
line-height:24px;
font-size:14px;
font-weight:normal;
padding: 0;
text-align:left;
}
li.forfaitBody span,
li.forfaitBody span.check {
padding:0 30px 0 35px;
white-space:normal;
width:100%;
display:inline-block;
text-align:left;

}
li.forfaitBody span.up {font-size:16px;}
li.forfaitFoot {
height:280px;
display:inline-block;
line-height:240px;
color:white;
font-size:70px;
font-weight:normal;
}
li.forfaitFoot.visioexpert {background: url(../images/forfaits/visioexpert_foot.png) top left no-repeat;}
li.forfaitFoot.scanexpert {background: url(../images/forfaits/scanexpert_foot.png) top left no-repeat;}
li.forfaitFoot span {
height:80px;
width:250px;
background: none;
display:block;
line-height:45px;
color:white;
font-size:50px;
font-weight:normal;
border:3px solid white;
margin:80px auto 0  auto;
padding:15px;
border-radius:10px;
}
li.forfaitFoot span:hover{
color:black;
border-color:black;
}
span.prixForfait {
width:100%;
display:inline-block;
padding:25px 0;
line-height:45px;
color:white;
font-size:50px;
font-weight:normal;
text-align:center;
}
.carteForfait {
margin:0 auto;
padding:0;
max-width:550px;
border: 15px solid white;
-moz-box-shadow: 0px 0px 15px 0px #656565;
-webkit-box-shadow: 0px 0px 15px 0px #656565;
-o-box-shadow: 0px 0px 15px 0px #656565;
box-shadow: 0px 0px 15px 0px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=NaN, Strength=15);
}

 
.carteForfait.controlForfait {
margin:0 2% 0 2%;
padding:0;
max-width:46%; 
}
.controlForfait .carteBody {
min-height:750px;
/* height:750px; */
padding-bottom:15px;
}
.controlForfait .carteBody p {
font-size: 13px;
}

@media (max-width: 1280px) {  
.controlForfait .carteBody {
min-height:850px;
/*height:850px;*/
}
}

@media (max-width: 1024px) {  

.controlForfait .carteBody {
min-height:850px;
/*height:850px;*/
}
}

@media (max-width: 991px) {  
.carteForfait.controlForfait {
margin:0 auto;
padding:0;
max-width:95%;
width:95%;
}
.controlForfait .carteBody {
min-height:auto;
height:auto;
}
}

.carteHead, .carteFoot {
width:100%;
display:inline-block;
}
.carteHead.scan, .carteFoot.scan {
background: url(../images/forfaits/bg_scan.jpg) top center repeat;
}
.carteHead.visio, .carteFoot.visio {
background: url(../images/forfaits/bg_visio.jpg) top center repeat;
}
.carteHead p, .carteFoot p {
color:white;
font-size:70px;
font-weight:normal;
padding:20px 0;
text-align: center;
}
.carteBody {
background: #fff;
}
.carteBody p {
background: white;
margin: 5px auto 7px auto;
width: 98%;
font-size: 15px;
}
p.bigger {font-size:17px;}
.carteFoot {
height:100px;

}

.popTitle {
margin-top: 20px;
margin-bottom:10px;
color:#009ada;
position:absolute;
z-index:1052;
}
.popCercle {
position:absolute;
top:7px;right:
10%;z-index:1051;
opacity: 0.5;
filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* INDEX FOOTER */
#indexFooter {
display:block;
max-width:1920px;
width:100%;
margin:0 auto 0 auto;
padding:25px 0 0 0;
background:#d6edf3;
}
#footContain {
display:block;
max-width:1600px;
width:100%;
margin:0 auto;
padding:25px 0;
}
#footContain p {
font-weight:500;
font-size:15px;
margin:0 auto;
width:95%;
text-align: left;}
.btn-autofoot {
display:block;
float:none !important;
color: #fff!important;
font-weight:500;
font-size:15px;
background: #009ada;
width:90%;
margin:0 auto !important;
}
.copyrights {
text-align:center;
}
#footerVente {
    position: relative;
    text-align:center;
}
#footer img {
    
}
#footerVente a {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#footerVente span {
display:block;
height:20%;
}

/* WIZARD STEPS */
.stepwizard-step p {
margin:0;
padding:0;
width:100%;
min-height:40px;
height:40px;
}
.stepwizard-row {
display: table-row;
padding:0;
}
.stepwizard {
display: table;
width: 100%;
position: relative;
padding:0;
}
.stepwizard-step button[disabled] {
opacity: 1 !important;
filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
top: 63px;
bottom: 0;
position: absolute;
content: " ";
width: 100%;
height: 4px;
background-color: #009ada;
z-index: 0;
padding:0;
}
.stepwizard-step {
display: table-cell;
text-align: center;
position: relative;
width:20%;
}

div.stepwizard-step .btn-default.disabled,
div.stepwizard-step .btn-default[disabled] {
opacity: 1;
}

div.stepwizard-step .btn-default[disabled] {
color: #ccc;
}
.arrowStep {
color:#009ada;
}

div.stepwizard-step .btn-default[disabled] + .arrowStep {
color:#ccc;
}
.btn-circle {
width: 50px;
height: 50px;
text-align: center;
padding: 0;
font-size: 20px;
line-height: 40px;
border-radius: 50px;
border: 4px solid #009ada;
margin:0 auto;
float:none;
background:#fff;
color:black !important; /* JANVIER 2017 */
font-weight:bold;
}
.notReqBlack {color:#333;}

.setup-content .btn {border-radius: 4px; font-size: 18px; padding: 5px 10px;}

@media( max-width : 480px ) {
.setup-content .btn {font-size: 14px; padding: 5px 10px;}
.stepwizard-step p {display:none;}
.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 0;
font-size: 12px;
line-height: 25px;
border-radius: 30px;
border: 3px solid #009ada;
margin:0 auto;
float:none;
background:#fff;
color:black;
font-weight:bold;
}
.stepwizard-row:before {
top: 15px;
height: 3px;
}
}

/* ************** WIZARD PROCESS STEP ************** */
.wizard {
margin: 20px auto;
background: #fff;
}

.wizard .nav-tabs {
position: relative;
margin: 0 auto;
margin-bottom: 0;
border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
position: relative;
}

.connecting-line {
height: 2px;
background: #e0e0e0;
position: absolute;
width: 100%;
margin: 0 auto;
left: 0;
right: 0;
top: 50%;
z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
color: #000000;
cursor: default;
border: 0;
border-bottom-color: transparent;
}
.top-tab, span.top-tab {
width: 100%;
line-height: 13px;
display: block;
color: #777;
background: #fff;
z-index: 2;
position: absolute;
left: 0;
text-align: center;
font-size: 13px;
font-weight: normal;
margin-top:-17px;
}
span.round-tab {
width: 70px;
height: 70px;
line-height: 57px;
display: inline-block;
border-radius: 100px;
background: #fff;
border: 6px solid #e0e0e0;
z-index: 2;
position: absolute;
left: 0;
text-align: center;
font-size: 25px;
font-weight: bold;
}
span.round-tab i{
color:#555555;
}
.wizard li.active span.round-tab {
background: #fff;
border: 6px solid #009ada; 
}
.wizard li.active span.top-tab {
color: #000000;
}
.wizard li.active span.round-tab i{
color: #009ada;
}

span.round-tab:hover {
color: #333;
border: 6px solid #333;
}

.wizard .nav-tabs > li {
width: 20%;
}

.wizard li:after {
content: " ";
position: absolute;
left: 46%;
opacity: 0;
margin: 0 auto;
bottom: 0px;
border: 5px solid transparent;
border-bottom-color: #009ada;
transition: 0.1s ease-in-out;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 46%;
opacity: 1;
margin: 0 auto;
bottom: 0px;
border: 10px solid transparent;
border-bottom-color: #009ada;
}

.wizard .nav-tabs > li a {
width: 70px;
height: 70px;
margin: 20px auto;
border-radius: 100%;
padding: 0;
}

.wizard .nav-tabs > li a:hover {
background: transparent;
}

.wizard .tab-content {
padding-top: 15px;
}

.wizard .tab-pane {
position: relative;
padding-top: 1px;
}

.wizard h3 {
margin-top: 0;
}

@media( max-width : 585px ) {

.wizard {
width: 90%;
height: auto !important;
}


span.top-tab {
line-height: 11px;
font-size: 11px;
}
span.round-tab {
font-size: 16px;
width: 40px;
height: 40px;
line-height: 29px;
border: 4px solid #e0e0e0;
}
.wizard li.active span.round-tab {
border: 4px solid #009ada; 
}
.wizard .nav-tabs > li a {
width: 50px;
height: 50px;
line-height: 50px;
}

.wizard li.active:after {
content: " ";
position: absolute;
left: 35%;
}
}

/* ************** /WIZARD PROCESS STEP ************** */
/* etapes securspot */
a.etapeIcone {
display:block;
width:46px;
height:89px;
background: url(../images/etapes/picto_etape.png) no-repeat;
margin: 0 auto;
color:white;
text-align: center;
padding: 0;
font-size: 22px;
line-height: 46px;
font-weight: bold;
border:0;
background-color: none;
}

a.etapeIcone:hover {
background-color: #eeeeee;
border:0;
}

div.stepwizard-step .btn-default.etapeIcone.disabled,
div.stepwizard-step .btn-default.etapeIcone[disabled] {
color:white;
background: url(../images/etapes/picto_etape_off.png) no-repeat;
}

.stepwizard-row.etapes-row:before {
top: 116px;
bottom: 0;
position: absolute;
content: " ";
width: 100%;
height: 4px;
background-color: #565656;
z-order: 0;
padding:0;
}

/* Responsive */

/* *************** 1600px *************** */
@media (max-width: 1600px) {
#footContain {max-width:95%;width:95%;}
#indexL3 {background-image: url(../images/index/index_1600x500.png);}
#indexContainer1920 {max-width:1600px;}  
}

/* *************** 1400px *************** */
@media (max-width: 1400px) {
#indexL3 {background-image: url(../images/index/index_1400x500.png);}
#indexContainer1920 {max-width:1400px;}
#indexL3 .homme {
width:3%;
height:100%;
margin-left:12%;
}
#indexL3 .femme {
width:9%;
height:100%;
margin-left:86%;
}
}

/* *************** 1280px *************** */
@media (max-width: 1280px) {
    #indexImage {
        background: url('../images/index/accueil1366p.jpg') no-repeat top center;
        background-size: cover;
    }
    #indexL3 {background-image: url(../images/index/index_1280x500.png);}
    #indexContainer1920 {display:none;} 
    #indexContainer1280 {display:block;max-width:1280px;} 
    .circle {width:50%;}
    .clear1920 {display:none;}
    .clear1280 {display:inline-block;}
    #indexL3 .homme {
        width:3%;
        height:100%;
        margin-left:14%;
    }
    #indexL3 .femme {
        width:9%;
        height:100%;
        margin-left:92%;
    }
}

/* *************** 1025px *************** */
@media screen and (min-width: 1025px) {

}

/* *************** 1024px *************** */
@media (max-width: 1024px) {
.br1024 {display:block;clear:both;}
#index { /*height: 350px;*/ }
#indexL3 {display:none;} 
#indexL1 {display:none;}
#indexL2 {height:60px;left:0;width:100%;}
#indexL2 #logoMOB {float:left;width:50%;height:50px;z-index:2;display:block;padding:0 5px;}
#indexL2 #user {float:left;min-width:50px;width:50px;height:50px;z-index:2;}
#indexL2 #lang {max-width:80px;min-width:80px;width:80px;padding: 0 5px 0 0;float:right;text-align: right;}
#logoPC {display:none;}
#publi,#nosForfaits {display:none;}
#indexContainer1280 {max-width:1024px;}
#pourquoi {display:none}
#pourquoiMob {display:block}
}

/* *************** 816px ***************/
@media (max-width: 991px) {  
#forfaits .col-sm-6 {width:100%!important;}
.btn-autofoot {font-size:13px;}

}

/* *************** 768px *************** */
@media (max-width: 768px) {   
#indexContainer1280 {max-width:768px;}
#etapesIndexTab .ext {max-width:100%;}
#footerVente > img {
    display: inline-block;
}
.btn-autofoot {width:65%;font-size:15px;}
#footContain p {text-align: center;}
}

/* *************** 720px *************** */
@media (max-width: 720px) {   
#indexContainer1280 {max-width:720px;} 
}

/* *************** 480px *************** */
@media (max-width: 480px) {
.carteHead p, .carteFoot p {font-size:50px;}
#index { height: 450px; }
#indexL1, #indexL2 {height:30px;}   
#indexContainer1280 {display:none;}
#indexContainer1920 {display:none;} 
#indexContainer480 {display:block;max-width:480px;}
/* 19/01/2017 */#indexContainer480 .td480 {margin-bottom: 2%;}
/* 19/01/2017 */#indexContainer480 .td480 .form480 {margin:0;padding:10px 10px 0 10px;height:80px;background: #d6edf3;margin-top: 3%;}
#indexCircles {width:99%}
#indexSlogan { /*height:40px;padding-top:15px*/}
#indexSlogan h1 {/*line-height:18px;*/}
.hideSmart {display:none;}
.showSmart {display:block;}
.clearIndex { /*height:10px;*/ }
#forfaits .col-sm-6 {width:100%;padding:0 0 0 0;margin:0 0 0 0;}
ul.forfait,ul.forfait li {max-width:100%;width:100%;}
li.forfaitHead.scanexpert{font-size:40px;line-height:155px;height:133px;background: url(../images/forfaits/scanexpert_head.png) top center no-repeat;background-size: 100%;}
li.forfaitHead.visioexpert{font-size:40px;line-height:180px;height:133px;background: url(../images/forfaits/visioexpert_head.png) top center no-repeat;background-size: 100%;}
li.forfaitBody {line-height: 20px;background: url(../images/forfaits/forfait_body.png) top center repeat-y;background-size: 100%;}   
li.forfaitFoot.visioexpert {height:160px;background: url(../images/forfaits/visioexpert_foot.png) bottom center no-repeat;background-size: 100%;}
li.forfaitFoot.scanexpert {height:160px;background: url(../images/forfaits/scanexpert_foot.png) bottom center no-repeat;background-size: 100%;}
li.forfaitFoot span {
height: 60px;
width: 70%;
line-height: 25px;
font-size: 30px;
margin: 25px auto 0 auto;
}

}

@media (max-width: 480px) {
    /*#index {
        height: 500px;
    }*/
    #indexImage {
        background: url('../images/accueil-smartphone-381x456.jpg') no-repeat top center;
        background-size: cover;
        height: 100%;
        position: relative;
    }
}

/* *************** 380px *************** */
@media (max-width: 380px) {
    #indexContainer1280 {max-width:380px;} 
    #forfaits .col-sm-6 {width:100%;padding:0;margin:0;}
}

/* *************** 320px *************** */
@media (max-width: 320px) {
#indexContainer1280 {max-width:320px;}
.setup-content .btn {font-size: 14px; padding: 5px 10px;width:100%;}
}

/* *************** 280px *************** */
@media (max-width: 280px) {
#indexContainer1280 {max-width:280px;}  
}

.modal-body ul {
    padding: 0 40px;
}

@media (min-width: 768px) {
    #etape1 .illustration {
        margin-top: 200px;
    }

    #etape2 .illustration {
        margin-top: 180px;
    }

    #etape4 .illustration {
        margin-top: 180px;
    }

    #etape5 .illustration {
        margin-top: 120px;
    }

    #etape6 .illustration {
        margin-top: 120px;
    }
}