body {overflow-x: hidden;}
html, body {height: 100%;}
.container {padding:0 15px;}
a,a:visited {
color: #009ada;
text-decoration: none;
}
a:hover {text-decoration:none;cursor: pointer;}
br.brSite {clear:both;display:inline-block;}
#switchL,
#switchR {
position:absolute;
z-index:100;
font-size:90%;
}
.noMargin {margin: 0 0 0 0 !important;}
.bold {font-weight:bold;}
.show {display:block;}
.hide {display:none;}
#switchL {
top:10px;
left:10px;
}
#switchR {
top:30px;
right:10px;
}
#switchL a,
#switchR a { padding:2px 4px; }
#switchL a:hover,
#switchR a:hover {
padding:2px 4px;
color:#fff;
background-color: #009ada;
border-radius: 3px;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out;
}
#day {
width:100%;
padding: 40px 0 1px 0;
margin: 0;
display:inline-block;
}
#day .btn {
padding: 2px 4px 1px 4px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #009ada;
color:#009ada;
}
#day .left,
#day .right {
font-style:italic;
font-size:12px;
line-height:27px;
text-align:left;
}
#day .center {
font-size:14px;
text-align:center;
}
#day .right::before {
padding-right:4px;
font-family: 'FontAwesome';
content: "\f0a5";
}
#day .btn {float:none;}

#logoPC {width:50%;float:left;padding: 0 5px; display:block;}
#logoMOB {display:none;}
#logo {width:25%;float:left;padding: 0 5px; display:block;}
#slogan {line-height:35px;font-size:16px;font-style: italic;width:50%;float:left;padding: 0 5px;display:block;}
#user,#nosForfaits,#publi {width:12%;float:left;padding: 0 5px; display:block;}

#lang {width:14%;float:right;padding: 0; display:block;height:15px;text-align:center;}
#user div, #publi div, #nosForfaits div {
height:30px;
background: #009ada;
color:#fff;
text-align:center;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
}

#user div a, #publi div a, #nosForfaits div a {color:#fff;line-height:25px;}

#user .btn {border:0;background:none;padding:0 5px;margin:0 auto;float:none;}
#user .dropdown-menu {background:#009ada;margin-top:2px;}
#user .dropdown-menu ul {list-style: none;padding-left:0;margin-left:5px;}
#user .dropdown-menu ul li {list-style: none;}
#user .dropdown-menu ul li a:hover{color:#000000;}
#user a, #publi a{ color:#fff;line-height:30px;}

#signin{
    border-right:12px solid #fff;
}
#signup {
    border-left:12px solid #fff;
}
.blue {color:#009ada;}
.radio, .checkbox {margin-top: 0;}
hr.blue {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid #009ada;
}
hr.blue2 {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    border-top: 2px solid #009ada;
}
.blueLeft {border-left: 2px solid #009ada;}
.black {color:black;}
.btn-register,
.btn-closeaccount {
    color: #fff;
    background: #009ada;
    width:auto;
    padding: 3px 10px !important;
}
.btn-closeaccount {float:left;}
#menucompte {clear:both;min-height:30px;}
#menucompte .btn-register {
margin:0 auto;
width:20%;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
border-left:0;
border-right:1px solid #fff;
}
.prixannonce {
display:block!important;
top:25px!important;
position:absolute!important;
z-index:10!important;
line-height:25px!important;
right: 0!important;
padding: 0 5px!important;
height:25px!important;
background:#fff!important;
color:#000!important;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
font-weight:700!important;
}
#moncompte h4 {clear:both;border-bottom: 1px solid #009ada;padding-left:5px;}
#moncompte > #rubriques > div {
    display:none;
}

#moncompte > #rubriques > div:target {
    display:block;
}
span.spothide, .spothide {display:none;}
span.spotshow, .spotshow {display:block;}
.jumbotron .btn {margin:0;}
.jumbotron {
background-color: #d6edf3;
min-height:70px;
}
.container .jumbotron {
margin-bottom:10px;
    padding: 0;
}
.bottom5 {margin-bottom:5px;}
.logoindex {
max-width:331px;
width:100%;
margin: 0 auto 10px auto;
}
.resultlogo {
padding:0;
margin:0 auto 10px auto;
width:140px;
}
.resultlogo img {
margin:0;
padding:0;
}
.resultsearch,
.resultselect {width:100% !important;}
.btn-autospot {width:100% !important;}
kbd {
background-color: #009ada;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.navbar {border:0;}
.navbar-header {width:100%;}
.navbar-brand,.navbar-default .navbar-toggle {
margin-left:0 !important;
margin-right:0 !important;
float:right;
}
.form-control {
border-color: #009ada;
font-size: 13px;
padding: 4px 10px;
}
.btn-autospot {
color: #fff;
background: #009ada;
}
.tri {
margin:0 15px 15px 0;
float:right;
min-width:150px;
width:200px;
}
.trispace {
margin:0 0 15px 0;
width: 1px;
float:right;
}
.resultFilters .container-fluid { padding:0 0 0 15px;}
.resultFilters #myNavbar {width:100%;padding:0 0 0 15px;}
.btn {float:left;padding: 3px 4px;margin:5px 0 5px 5px;}
.btn-primary {padding: 6px 12px;background-color: #009ada;border-color:#357ebd;}
.btn-carrosserie {padding: 6px ;background-color: #fff;border-color:#009ada;}
.btn-primary:hover {background-color:#357ebd;border-color:#009ada;}
.btn.effacer {background:#EEE;color:#009ada;border-color:#CCC;}
.btn.effacer:hover {background:#DDD;}
button#banniereOui.btn.btn-primary .fa.fa-check{display:block;}
button#banniereOui.btn.btn-primary.collapsed .fa.fa-check{display:none;}
#accordion  a:hover {cursor:pointer;}
#accordion  a .fa.fa-plus,
#accordion a.collapsed .fa.fa-minus {display:none;}
#accordion  a.collapsed .fa.fa-plus,
#accordion  a .fa.fa-minus{display:inline-block;}
.rightAlign {float:right;}
label.leftSelect {clear:both;float:none;}
select.leftSelect {float:left;width:50%;}
.cars {padding-bottom:10px;}
.desc-modele h5,
.desc-prix h5 {font-size:95%;}

.desc-avatar img,.avatar img {
vertical-align: middle;
padding:0;
margin:0 auto;
max-width:30px;
max-height:30px;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
border:3px solid #fff;}
.annonce-avatar img {
vertical-align: middle;
padding:0;
margin:0 40%;
max-width:20%;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px;
border:3px solid #000;}
.desc-avatar img:hover, .annonce-avatar img:hover, .avatar img:hover {cursor:pointer;border-color:#009ada;}
.desc-avatar {line-height:40px;}

.desc-fav div {
padding:0;
margin:7px auto 0 auto;
padding:0;
max-width:28px;
width:28px;
max-height:28px;
height:28px;
background: url(../images/fav_heart_out.png) no-repeat;
background-size: cover;
}
.fav div {
padding:0;
margin:0 auto 0 auto;
padding:0;
max-width:30px;
width:30px;
max-height:30px;
height:30px;
background: url(../images/fav_heart_out.png) no-repeat;
background-size: cover;
}
.desc-fav div:hover,.fav div:hover {background: url(../images/fav_heart_hover.png) no-repeat;background-size: cover;}

.desc-annee h5,
.desc-km h5 {font-size:90%;}
.cardesc1 {
background: #d6edf3;
min-height:40px;
height:40px;
}
.cardesc2 {
min-height:60px;
height:60px;
margin-top:5px;
font-size: 95%;
}
.cardesc3,.cardesc4 {
min-height:35px;
height:35px;
margin:0 0 0 0;
margin-left:-10px;
font-size: 95%;
}
.cardesc5 {
min-height:30px;
height:auto;
margin:0;
}
.descrapide {
min-height:30px;
margin-bottom:5px;
}
.charte {border:2px solid #009ada;border-radius:5px;padding:15px;font-size:14px;}
.qualite {
position:absolute;
bottom:-37px;
right:0;
}
.cardesc5 .retour {clear:both;width:100%;}
.desc-chevaux,
.desc-carbu,
.desc-expert,
.desc-lieu {margin-left:-10px;}
[id*="infos-"].collapse {display: block;}
[id*="infos-"].collapse.in {display: none;}
.left {float:left!important;}
#moisExpertise,#anneeExpertise {float:left!important;width:25%!important;margin-left:5px!important;}

.visu{
text-align:left;
width:100%;
float:none;
font: 100%;
}
.plus, .fav, .avatar{
display: none;
}
#myPages {
width:100%;
background:none;
margin: 0 auto;
display:block;
padding:5px;
}
.resultpagination {
min-width:700px;
max-width:760px;
max-height:50px;
width:100%;
float: none;
margin:0 auto 5px auto;
padding:0;
}
.resultpagination .pagination {margin: 0 0 10px 0;}
.opages,
.npages {
margin: 0 auto;
padding: 0 0 0 0;
max-width:500px;
width:500px;
min-height:48px;
height:48px;
background:none;
}
.opages ul,
.npages ul {
margin:0;
padding:0;
display:block;
clear:both;
}

li.avant,li.auto,li.oo,li.spot,li.apres {
position: relative;
float: left;
padding:0 0 0 0;
margin:0;
line-height: normal;
color: #428bca;
text-decoration: none;
background:none;
border:0;
list-style:none;
display:inline-block;
min-height:1px;
}
li.oo {margin: 0 0 0 1px !important;}
li.avant,li.oo,li.apres {
min-width:24px;
max-width: 24px;
width:24px;
}
.opages .fa {
color:#000;
padding-top:11px;
}
.npages .fa {
color:#000;
padding-top:0;
}
.opages .fa:hover,
.npages .fa:hover {
color:#428bca;
}
li.auto {
max-width: 76px;
width:100%;
}
li.spot {
max-width: 91px;
width:100%;
}
#footer {
position: absolute;
left: 0;
right: 0;
bottom: 2px;
padding: 0 0 5px 0;
height:auto;
margin:0;
max-height:25%;
z-index: 0;
}
.indexfooter {
margin: 1px auto 0 auto;
max-width:800px;
}
#logosites {
display:inline-block;
padding:0 5px 0 0;
margin:0 auto;
max-width:800px;
width:auto;
}
#logosites ul {
padding:0;
margin:0 auto;
list-style:none;
}
#logosites ul li {
float:left;
list-style:none;
padding:1px 0;
margin:0;
bottom: 0;
vertical-align: bottom;
width: 8.33333333%;
}
#logosites ul li img { width:100%; }
#logosites ul li img:hover { cursor:pointer; }
#logosites .tooltip-inner {
color: #555;
background-color: #fff;
border:1px solid #009ada;
}
#logosites .tooltip-arrow {border-top-color: #009ada;}
.clearcars {clear:both;display:block;width:100%;height:10px;}
.prixmobile,
.favmobile {display:none;}
.cars img {
margin-left: auto;
margin-right: auto;
width:100%;
vertical-align:middle;
display: inline-block;
}
.cars .linkZoom {
min-height:172px;
line-height:172px;
text-align:center;
vertical-align: middle;
display: inline-block;
}
.cars .linkZoom,
.cars .noLinkZoom {
background: #E5E5E5;
}
 select.autotri {
-webkit-appearance: none;
line-height: 1;
}
.autotri {
color:#009ada;
overflow: hidden;
background: url(../images/autotri.png) no-repeat right;
}

.clear {clear:both;display:inline-block;width:100%;height:5px;}
.resultfooter {background: #d6edf3;}
.resultfooter .col-sm-4{padding: 30px;}
.cgu,.contact,.referencement,.faq {
width:90%;
margin:0 auto 15px auto;
}
.footericon {
max-width:69px;
width: 100%;
margin: 0 auto;
}
.resultfooter a.list-group-item{
background:none;
border:0;
padding:2px 4px;
color:#009ada;
}
.hide480,.hide767,.hide1025 {display:none;}
.show1025 {display:block;}
.closeFiltres {display:none;}
.close {
color: #009ada;
filter: alpha(opacity=100);
opacity: 1;
}
[id*="myModal-"],
.modal-auto {
max-width:600px;
width:100%;
height:auto;
margin-top:0;
margin-right:auto;
margin-bottom:0;
margin-left:auto;
text-align:left;
}
.checkbox {padding-left: 20px;}
.checkbox label {
display: inline-block;
position: relative;
padding-left: 5px;}
.checkbox label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #009ada;
border-radius: 3px;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
transition: border 0.15s ease-in-out, color 0.15s ease-in-out;}
.checkbox label::after {
display: inline-block;
position: absolute;
width: 16px;
height: 16px;
left: 0;
top: 0;
margin-left: -20px;
padding-left: 3px;
padding-top: 1px;
font-size: 11px;
color: #555555;}
.checkbox input[type="checkbox"] {
opacity: 0;}
.checkbox input[type="checkbox"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;}
.checkbox input[type="checkbox"]:checked + label::after {
font-family: 'FontAwesome';
content: "\f00c";}
.checkbox input[type="checkbox"]:disabled + label {
opacity: 0.65;}
.checkbox input[type="checkbox"]:disabled + label::before {
background-color: #eeeeee;
cursor: not-allowed;}
.checkbox.checkbox-circle label::before {
border-radius: 50%;}
.checkbox.checkbox-inline {
margin-top: 0;}
.checkbox-primary input[type="checkbox"]:checked + label::before {
background-color: #009ada;
border-color: #009ada;}
.checkbox-primary input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-danger input[type="checkbox"]:checked + label::before {
background-color: #d9534f;
border-color: #d9534f;}
.checkbox-danger input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-info input[type="checkbox"]:checked + label::before {
background-color: #009ada;
border-color: #009ada;}
.checkbox-info input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-warning input[type="checkbox"]:checked + label::before {
background-color: #f0ad4e;
border-color: #f0ad4e;}
.checkbox-warning input[type="checkbox"]:checked + label::after {
color: #fff;}
.checkbox-success input[type="checkbox"]:checked + label::before {
background-color: #5cb85c;
border-color: #5cb85c;}
.checkbox-success input[type="checkbox"]:checked + label::after {color: #fff;}
.radio {padding-left: 20px;}
.radio label {
display: inline-block;
position: relative;
padding-left: 5px;}
.radio label::before {
content: "";
display: inline-block;
position: absolute;
width: 17px;
height: 17px;
left: 0;
margin-left: -20px;
border: 1px solid #009ada;
border-radius: 50%;
background-color: #fff;
-webkit-transition: border 0.15s ease-in-out;
-o-transition: border 0.15s ease-in-out;
transition: border 0.15s ease-in-out;}
.radio label::after {
display: inline-block;
position: absolute;
content: " ";
width: 11px;
height: 11px;
left: 3px;
top: 3px;
margin-left: -20px;
border-radius: 50%;
background-color: #555555;
-webkit-transform: scale(0, 0);
-ms-transform: scale(0, 0);
-o-transform: scale(0, 0);
transform: scale(0, 0);
-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);}
.radio input[type="radio"] {opacity: 0;}
.radio input[type="radio"]:focus + label::before {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;}
.radio input[type="radio"]:checked + label::after {
-webkit-transform: scale(1, 1);
-ms-transform: scale(1, 1);
-o-transform: scale(1, 1);
transform: scale(1, 1);
font-family: 'FontAwesome';

}
.radio input[type="radio"]:disabled + label {opacity: 0.65;}
.radio input[type="radio"]:disabled + label::before {cursor: not-allowed;}
.radio.radio-inline {margin-top: 0;}
.radio-primary input[type="radio"] + label::after {background-color: #009ada;}
.radio-primary input[type="radio"]:checked + label::before {border-color: #009ada;}
.radio-primary input[type="radio"]:checked + label::after {background-color: #009ada;}
.radio-danger input[type="radio"] + label::after {background-color: #d9534f;}
.radio-danger input[type="radio"]:checked + label::before {border-color: #d9534f;}
.radio-danger input[type="radio"]:checked + label::after {background-color: #d9534f;}
.radio-info input[type="radio"] + label::after {background-color: #009ada;}
.radio-info input[type="radio"]:checked + label::before {border-color: #009ada;}
.radio-info input[type="radio"]:checked + label::after {background-color: #009ada;}
.radio-warning input[type="radio"] + label::after {background-color: #f0ad4e;}
.radio-warning input[type="radio"]:checked + label::before {border-color: #f0ad4e;}
.radio-warning input[type="radio"]:checked + label::after {background-color: #f0ad4e;}
.radio-success input[type="radio"] + label::after {background-color: #5cb85c;}
.radio-success input[type="radio"]:checked + label::before {border-color: #5cb85c;}
.radio-success input[type="radio"]:checked + label::after {background-color: #5cb85c;}

.myFilters-1 {width: auto;height: auto;overflow: hidden;border:0;}
/*span.linkZoom {display:block;}
span.noLinkZoom {display:none;}*/
.navbar-default .navbar-toggle {
border-color: #888;
border-style:solid;
border-width:2px;
}

/*MENU FIXE MOBILE 23/02/16*/
#fixedMenu {
    display: inline-block;
    margin:0 0 7px 0;
    padding:0;
width:100%;
    background:#fff;
}
.fixMenu {
    margin:0;
    padding:0;
    position: fixed;
z-index:1003;
    top: 0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #666;
}
.mobileSelect {
    width:25%;
    height:35px;
    float:left;
}
.mobileSelect select {
    border:0 !important;
    -webkit-appearance: none;
    height:35px;
    padding:0 0 0 0 !important;
    margin:0 !important;
    -webkit-box-shadow: 0 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
}
#fixedMenu select::-ms-expand {
    display: none;
}
.mobileSelect select:hover,
.mobileSelect:hover {
    cursor:pointer;
}
select.annonceurs {
    background: url(../images/annonceur_autospot.png) center center no-repeat;
    background-size:contain;
}
select.suisse {
    background: url(../images/suisse_autospot.png)center center no-repeat;
    background-size:contain;
}
select.trier {
    background: url(../images/tri_autospot.png) center center no-repeat;
    background-size:contain;
}
.iconFiltres {
    background: url(../images/filtre_autospot.png) center center no-repeat;
    background-size:contain;
}
img.openFiltre {
   width:100%;
    min-height:35px;
    max-height:35px;
    position:relative;
    z-index:1002;
    padding:0;
}
#menuMob{
display:inline-block;
    background:#fff;  
}
#fixedFiltres {
    margin:0 auto;
    padding:0 0 0 0;
    width:90%;
    position:relative;
    z-index:1000;    
}
#pushFiltres.push {height:35px;}
#pushFiltres.noPush{height:0;}
#fixedFiltres .checkbox-primary {
    display:inline-block;
    width:100%;
    padding:5px 0;
}
#fixedFiltres label {
    margin:10px 0 0 0;
    padding:0 0 0 0;   
}
#fixedFiltres .checkbox input[type="checkbox"],
#fixedFiltres .checkbox-inline input[type="checkbox"] {
    position:relative;
    margin-left: 0;
}
#fixedFiltres .checkbox-primary label {
    margin-right:20px;
}
#fixedFiltres .appliquer{
    float:left;
}
#fixedFiltres .effacer {
    float:right;
}

/* JUIN 2016 */
.setup-content h4 {margin:0;}
.anoter {
font-weight:normal;
color: #009ada;
font-style:italic;
}
.sup20Mil {
position: relative;
top : 25px;
left: -15px;
}
.blueBox {
padding: 6px 12px;
background-color: #009ada;
border-color: #357ebd;
color: #fff;
width:auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.blueBox label {
margin: 5px 0 5px 15px;
clear:both;
}
.breadLeft {text-align: left;}
.breadCenter {text-align: center;}
.breadRight {text-align: right;}
#headAnnonce {display:block;}
.annoncePC {display:block;}
.annonceMob {display:none;}
#headAnnonce p, #infosAnnonce1 p, #infosAnnonce2 p {margin-bottom:10px;}
div.col-sm-2.vignette {float:left;width:16.66666667%;max-width:16.66666667%;}
.vignette {
margin: 5px 0;
padding: 3px;
border: 1px solid black;   
}
.nav-pills > li + li.full {padding-left:0;padding-right:0;margin-left:0;margin-right:0;}

h4.panel-title {font-size:18px;}

.requis {color: #a94442;}
/* *** */
.bgform {
background-color: #428bca;
display: inline;
padding: 5px;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: 4px;
}
.rapportKm {
font-size:16px;
line-height:18px;
font-weight:bold;
min-height:35px;
width: 220px;
padding: 15px 30px;
text-align:center;
background: #fff;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
border: 2px solid black;
margin: 5px 0 10px 0;
}
/* *** */
/* /JUIN 2016 */


/*FIN MENU FIXE MOBILE 23/02/2016*/

/* Image Picture Viewer */
.galZoom {
    display:block;
    left:5px;
top:0;
position:absolute;
	cursor:pointer;
    z-index:1001;
    background: none;/*url(../images/nav.png) no-repeat -20% 50%;*/
	padding:5px;
    border-radius: 5px;
}

#rg-gallery.carGallery,
#rg-gallery {max-width:800px; width:100%;margin: 0 auto;}
.rg-image-wrapper{
	position:relative;
	padding:0;
	background:none;
	min-height:20px;
}
.rg-image{
	position:relative;
	text-align:center;
	line-height:0px;
}
.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:0px;
	background: url(../images/nav.png) no-repeat -20% 50%;
	width:26px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
    z-index:1000;
}
.rg-image-nav a.rg-image-nav-next{
	right:0px;
	left:auto;
	background-position:115% 50%;
}
.rg-image-nav a:hover{
	opacity:0.8;
}
.rg-caption {
	text-align:center;
    width:100%;
	margin:0 auto;
	position:absolute;
    bottom:0;
}
.rg-caption p{
    font-weight:bold;
	font-size:12px;
	letter-spacing:1px;
	line-height:15px;
	padding:0 3px;
	text-transform:uppercase;
    background: #fff;
    width:20%;
    height:15px;
    margin:0 auto 0 auto;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.rg-view{
	display:none;
}
.rg-view a{
	display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background: url(../images/views.png) no-repeat top left;
	opacity:0.8;
}
.rg-view a:hover{
	opacity:1.0;
}
.rg-view a.rg-view-full{
	background-position:0px 0px;
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(../images/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}

.thumbUl {width:100%!important;}
.thumbx5 {width:20% !important;margin:0 !important;}
#myResult li.thumbx5 {display:none !important;height: 0 !important;}
#myResult .rg-image-nav a{width:17px;background: url(../images/nav_small.png) no-repeat -20% 50%;}
#myResult .rg-image-nav a.rg-image-nav-next{background-position:100% 50%;}
#myResult .rg-caption {margin:0 auto 5px auto;}

/* Elastislide Style */
.es-carousel-wrapper{
	background:none;
	padding:0;
	position:relative;
	position:relative;
	margin:0;
}
.es-carousel{
	overflow:hidden;
	background:none;
}
.es-carousel ul{
    margin: 2px 0 0 0 !important;
	padding:0 !important;
}
.es-carousel ul li{
	height:100%;
	float:left;
	display:block;
}
.es-carousel ul li a{
	display:block;
	border:0;
	opacity:0.7;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
    border: 1px solid #666666;
}
.es-carousel ul li.selected a{
	opacity:1.0;
    border: 1px solid black;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
    margin: 0 auto;
}
.es-nav span{
    display:none !important;
	position:absolute;
	top:50%;
	left:0;
	background:transparent url(../images/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
    z-index:1000;
}
.es-nav span.es-nav-next{
	right:0;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

#redAlert.alert.alert-danger {width:66%;border-color: #a94442;padding:10px;line-height:14px;min-height:50px;display:none;}
#redAlert.alert.alert-danger.alertShow {display:block;}
#orangeAlert.alert.alert-warning {width:66%;border-color: #8a6d3b;padding:10px;line-height:14px;min-height:50px;display:none;}
#orangeAlert.alert.alert-warning.pull-right.alertShow {display:block;}
.greenAlert.alert.alert-success {font-size:16px;border-color: #3c763d;padding:10px;line-height:21px;height:auto;margin:0 auto;display:none;}
.greenAlert.alert.alert-success.alertShow {display:block;}
#confBtn {
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
}

.lettrine {float:left;
  font-size: 32px;
  padding: 0 5px 0 0;
}

#logoffSuccess {
    color: #3c763d;
    background-color: #dff0d8;
    font-size:16px;
    border: 1px solid #3c763d;
    padding:10px;
    line-height:21px;
    height:auto;
    margin:0 auto;
    border-radius: 4px;
}

/* lightslider */
.carSlider {
    max-width:800px;
        width:100%;
}

.carSlider ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.carSlider li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.carSlider img {
    display: block;
    height: auto;
    max-width: 100%;
}
.imgNum {
position:relative;
bottom:30px;
left:45.5%;
background:#fff;
border-radius:5px;
padding:2px 4px;
width:15%;
text-align:center;
opacity: 0.7;
font-size:12px;
}
.lSSlideOuter {width:100%!important;}
.lSPager {opacity:0.7;margin-top:-18px!important;}

.resultcars .lSPager {display:none;}

#indexContainer1920 #marque,
#indexContainer1920 #modele,
#indexContainer1920 #modelebis {
display:block;
}
#indexContainer480 #marque,
#indexContainer480 #modele,
#indexContainer480 #modelebis,
#indexContainer1280 #marque,
#indexContainer1280 #modele,
#indexContainer1280 #modelebis {
display:none;
}

/* Responsive */

/* *************** 1600px *************** */
@media (max-width: 1600px) {

}

/* *************** 1400px *************** */
@media (max-width: 1400px) {
 
}

/* *************** 1280px *************** */
@media (max-width: 1280px) {
#indexContainer1280 #marque,
#indexContainer1280 #modele,
#indexContainer1280 #modelebis {
display:block;
}
#indexContainer480 #marque,
#indexContainer480 #modele,
#indexContainer480 #modelebis,
#indexContainer1920 #marque,
#indexContainer1920 #modele,
#indexContainer1920 #modelebis {
display:none;
}  
}

/* *************** 1025px *************** */
@media screen and (min-width: 1025px) {
#fixedMenu {display:none;}
}

/* *************** 1024px *************** */
@media (max-width: 1024px) {
.rg-image-nav {display: none;} 
#user div {background:none; color:#009ada;}    
#logoMOB {float:left;width:50%;height:50px;z-index:2;display:block;padding:0 5px;}
#user {float:left;min-width:50px;width:50px;height:50px;z-index:2;}
#lang {max-width:80px;min-width:80px;width:80px;padding: 0 5px 0 0;float:right;text-align: right;}
h4.panel-title {font-size:15px;}
#accordion  a.collapsed .fa.fa-plus,
#accordion  a .fa.fa-minus{font-size:12px;}
#day {padding: 20px 0 0 0;}
#day .left,
#day .right {display:none;}
#day .center {
width:100%;
font-size:12px;
}
#switchL {
top:0;
left:1%;
font-size:83%;
}
#switchR {
top:30px;
right:1%;
font-size:83%;
}
.jumboindex {max-width:1000px;}
.indexfooter {max-width:740px;}
.row {margin-right: 0;margin-left: 0;}
.desc-modele h5,
.desc-prix h5 {font-size:80%;}
.desc-annee h5,
.desc-km h5 {font-size:80%;}
.hide1025 {display:block;}
.show1025 {display:none;}
.hide767 {display:block;}
.tri {
margin:0 0 15px 1%;
float:left;
min-width:32%;
width:32%;
}
.trispace {
margin:0 0 0 0;
width: 0;
float:left;
}
.cars img {
display:block;
width:inherit;
}
.cars .linkZoom {
display: block;
}
.navbar-header {float: none;}
.navbar-toggle {display: block;}
.navbar-collapse {
border-top: 1px solid transparent;
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse {display: none!important;}
.navbar-collapse.collapse.in {display: block !important;}
.navbar-nav {
float: none!important;
margin: 7.5px -15px;
}
.navbar-nav>li {float: none;}
.navbar-nav>li>a {
padding-top: 10px;
padding-bottom: 10px;
}

.resultlogo {
margin:0 auto 0 auto;
max-width:140px;
}
[id*="infos-"].collapse {display: none;}
[id*="infos-"].collapse.in {display: block;}
p.plusinfos{
display: block;
width:20%;
font-size:92%;
}
p.plusinfos a:hover {cursor:pointer;}
p.plusinfos a .fa.fa-plus,
p.plusinfos a.collapsed .fa.fa-minus {display:none;}
p.plusinfos a.collapsed .fa.fa-plus,
p.plusinfos a .fa.fa-minus{display:inline-block;}
.cardesc1 {
padding-top:5px;
margin:0;
min-height:30px;
height:30px;
line-height:normal;
display:block;
}
.cardesc2 {
min-height:25px;
height:auto;
margin-top:0;
font-size: 90%;
background: #d6edf3;
}
.cardesc3,.cardesc4 {margin-left:0px;}
.cardesc5 {
width:100%;
min-height:25px;
height:auto;
display:inline-block;
}
.cardesc5 .retour {display:none;}
.desc-modele {width: 58.33333333%;}
.desc-annee {width: 16.66666667%;text-align:right;}
.desc-km {width: 25%;text-align:right;}
.desc-modele h5 {margin:0;}
.desc-annee h5,
.desc-km h5 {margin:0;}
.desc-prix,.desc-fav,.desc-avatar {display:none;}
.desc-cm,
.desc-chevaux,
.desc-carbu,
.desc-boite,
.desc-expert,
.desc-lieu {
font-size:90%;
padding-left:0;
padding-right:0;
margin-left:0;
}
.prixmobile {
display:block;
top:25px;
position:absolute;
z-index:10;
line-height:25px;
right: 0;
padding: 0 5px;
height:25px;
background:#fff;
color:#000;
-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
font-weight:700;
}

.favmobile {
display:block;
width:20%;
bottom:5px;
position:absolute;
z-index:10;
left: 40%;
height:15px;
padding: 0 3px;
background: #fff;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: #000000;
font-weight:bold;
}
.favmobile,
.favmobile a,
.favmobile a:visited {
font-size:12px;
color:#000000;
text-align:center;
}
#footer { height:auto; }
.resultcars.col-sm-10 {
max-width:100%;
width:100%;
}
.resultcars .col-sm-1,
.resultcars .col-sm-2,
.resultcars .col-sm-3,
.resultcars .col-sm-4,
.resultcars .col-sm-5,
.resultcars .col-sm-6,
.resultcars .col-sm-7,
.resultcars .col-sm-8,
.resultcars .col-sm-9,
.resultcars .col-sm-10,
.resultcars .col-sm-11,
.resultcars .col-sm-12 {
max-width:580px;
width:100%;
margin:0 auto;
float:none;
}
.resultcars .col-sm-12 {
padding-left:0;
padding-right:0;
}
.closeFiltres { display:inline-block; }
#logosites ul li { width: 16.66666667%; }
#myPages .fa-2x {font-size:1.5em;}   
.myFilters-1,
.resultFilters,
#myNavbar,  
.resultFilters #myNavbar {
width:0;height:0;display:none !important;
}
#topMenuLeft,#topMenuRight,.messagetop,#account,#cart {
display:none;
}
#langue {
margin-top:32px;
}
.page-header {
border-bottom:0;
}
span.spothide, .spothide {display:inline-block !important;}
span.spotshow, .spotshow {display:none !important;}
#myPages {display:none;}
.visu,
.fav,
.plus,
.avatar {
float:left;
display: block;
margin:0;
padding:0;
}
.visu{
text-align:left;
width:50%;
font: 90%;
}
.fav,.avatar{
text-align:center;
width:12%;
font: 100%;
}
.plus{
text-align:right;
width:26%;
font: 90%;
}
.plus a .fa.fa-plus,
.plus a.collapsed .fa.fa-minus {display:none;}
.plus a.collapsed .fa.fa-plus,
.plus a .fa.fa-minus{display:inline-block;}
.lSPager {display:none;} 
.lSAction {display:none !important;}

}

/* *************** 768px *************** */
@media (max-width: 768px) {
#headAnnonceMob {display:block;}
.annoncePC {display:none;}
.annonceMob {display:block;}
.breadLeft {display:none;}
.breadCenter,
.breadRight {text-align: center;width:50%;float:left;font-size:89%;}
    h1 {
  clear: both;
  font-size: 1.8em;
}
    h2 {
  clear: both;
  font-size: 1.6em;
}
    h3 {
  clear: both;
  font-size: 1.4em;
}
    h4 {
  clear: both;
  font-size: 1.2em;
}
    h5 {
  clear: both;
  font-size: 1em;
}
.jumboindex,.indexfooter { max-width:740px; }
#day .center {
font-size:12px;
text-align:center;
}
.jumboindex { padding: 0 30px 1px 30px; }
.resultfooter .col-sm-4{ padding: 15px 15px 0 15px; }
.form-group { margin-bottom:7px; }
label {
font-size:95%;
margin-bottom:2px;
}
#fixedMenu select.input-sm {
    height: 20px;
    line-height: 20px;
}
#fixedMenu .panel-default>.panel-heading {
padding: 3px 10px;
}
}

/* *************** 720px *************** */
@media (max-width: 720px) {
.jumboindex {padding: 10px 30px 1px 30px;}
.cgu,.contact,.referencement,.faq {
width:98%;
margin:0 auto 10px auto;
}

.num li, .num li a {
padding-top: 3px;
padding-bottom: 3px;
font-size:90%;
}
}

/* *************** 480px *************** */
@media (max-width: 480px) {
.container {padding:0 5px;}
    .col-xs-4.blueLeft {font-size:12px;white-space:nowrap;}
h4.panel-title {font-size:12px;}
#accordion  a.collapsed .fa.fa-plus,
#accordion  a .fa.fa-minus{font-size:10px;}
#myPages .fa-2x ,
#myPages .fa {font-size:0.95em;}
#day {padding-top:30px;}
br.brSite {clear:none;display:none;}
#day button.btn.btn-default {
font-size: 12px;
line-height:normal;
}
.logoindex {
max-width: 250px;
margin: 0 auto 7px auto;
}
.form-control {
font-size: 11px;
padding: 4px;
height:30px;
}
.indexfooter {max-width:800px;}
#myNavbar .btn.effacer {float:right;}
#myPages {
padding:0;
}
.opages,
.npages {
margin: 0 auto;
padding: 0 0 0 0;
max-width:315px;
width:315px;
}
li.avant,li.oo,li.apres,li.avant img,li.oo img,li.apres img {
min-width:16px;
max-width: 16px;
width:16px;
}
li.auto, li.auto img {
max-width: 50px;
width:100%;
}
li.spot, li.spot img {
max-width: 60px;
width:100%;
}
/* MAI 2016 */
#menucompte .btn-register {
width:100%;
}
/* FIN MAI 2016 */
#indexContainer480 #marque,
#indexContainer480 #modele,
#indexContainer480 #modelebis {
display:block;
}
#indexContainer1280 #marque,
#indexContainer1280 #modele,
#indexContainer1280 #modelebis,
#indexContainer1920 #marque,
#indexContainer1920 #modele,
#indexContainer1920 #modelebis {
display:none;
}
}

/* *************** 380px *************** */
@media (max-width: 380px) {

}

/* *************** 320px *************** */
@media (max-width: 320px) {

}

/* *************** 280px *************** */
@media (max-width: 280px) {

#logoMOB {max-width:100px;min-width:100px;width:100px;}
#lang {max-width:60px;min-width:60px;width:60px;}
}