
/*!
 * jQuery simple gallery Plugin 1.1.0
 *
 * http://fernandomoreiraweb.com/
 *
 * Copyright 2013 Fernando Moreira
 * Released under the MIT license:
 *   http://mit.fernandomoreiraweb.com/
 */


.simplegallery {
  margin: 0 auto;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.simplegallery .content {
  background: #fff;
  position: relative;
  width: 100%;
  height:auto;
  overflow: hidden;
}

.simplegallery .content img {
  width: 100%;
  border: 1px solid #9c9c9c;
}

.simplegallery .thumbnail {
    display:inline-block;
    width: 100%;
    height:auto;
    margin-top: 5px;
    padding:0;
}

.simplegallery .thumbnail .thumb {
  float: left;
  width: 20%;
  height: auto;
  margin: 0 0;
  cursor: pointer;
}

.simplegallery .thumbnail .thumb img {
  border: 1px solid #9c9c9c;
  width: 100%;
}

.simplegallery .thumbnail .last { margin: 0; }
