.stepwizard-step p {
    margin:0;
    padding:0;
    width:100%;
    min-height:40px;
    height:40px;
}
.stepwizard-row {
    display: table-row;
    padding:0;
}
.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    padding:0;
}
.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
    top: 63px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 4px;
    background-color: #009ada;
    z-order: 0;
    padding:0;
}
.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
    width:20%;
}

div.stepwizard-step .btn-default.disabled,
div.stepwizard-step .btn-default[disabled] {
    opacity: 1;
}

div.stepwizard-step .btn-default[disabled] {
    color: #ccc;
}
.arrowStep {
    color:#009ada;
}

div.stepwizard-step .btn-default[disabled] + .arrowStep {
    color:#ccc;
}
.btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 0;
    font-size: 20px;
    line-height: 40px;
    border-radius: 50px;
    border: 4px solid #009ada;
    margin:0 auto;
    float:none !important;
    background:#fff;
    color:black;
    font-weight:bold;
}
.notReqBlack {color:#333;}

.setup-content .btn {border-radius: 4px; font-size: 18px; padding: 5px 10px;}

@media( max-width : 480px ) {
.setup-content .btn {font-size: 16px; padding: 4px 8px;}
.stepwizard-step p {
font-size:11px;
line-height:11px;
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    border-radius: 40px;
    border: 4px solid #009ada;
    margin:0 auto;
    float:none;
    background:#fff;
    color:black;
    font-weight:bold;
}
}
}
/* ************** WIZARD PROCESS STEP ************** */
.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 0 auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #000000;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}
.top-tab, span.top-tab {
    width: 100%;
    line-height: 13px;
    display: block;
    color: #777;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    margin-top:-17px;
}
span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 57px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 6px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 6px solid #009ada; 
}
.wizard li.active span.top-tab {
    color: #000000;
}
.wizard li.active span.round-tab i{
    color: #009ada;
}

span.round-tab:hover {
    color: #333;
    border: 6px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #009ada;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #009ada;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-content {
    padding-top: 15px;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 1px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }


    span.top-tab {
    line-height: 11px;
    font-size: 11px;
}
    span.round-tab {
        font-size: 16px;
        width: 40px;
        height: 40px;
        line-height: 29px;
        border: 4px solid #e0e0e0;
    }
    .wizard li.active span.round-tab {
    border: 4px solid #009ada; 
}
    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

/* ************** /WIZARD PROCESS STEP ************** */