<ion-view view-title="My Page" id="view_exam">
	
	<ion-header-bar align-title="center" class="bar-stable">
		<header title="$ctrl.headertitle" showback="$ctrl.showbtnback"></header>
	</ion-header-bar>
	
	<div class="bar bar-subheader" ng-click="$ctrl.clickMenu();" style="height:54px;border-bottom:1px solid #eee;">
		<button class="button button-icon icon ion-navicon-round"></button>
		
		
		<ion-item class="item item-text-wrap vcenter" style="width:92%;font-size:14px;font-weight:bold;margin-top:0px;border:0;background-color:transparent;color:#aaa;left:40px;" translate>
			{{$ctrl.subheadertitle}}
		</ion-item>
		
		
	</div>


	<ion-content class="padding-horizontal has-subheader" >
		<page-info ng-show="$ctrl.pageshow.info"></page-info>
		<page-questions so="$ctrl.page_question" ng-show="$ctrl.pageshow.questions"></page-questions>
		
		
		
		<!-- 
		
		<input type="file" fileread="$ctrl.uploadme" name="name_upload" />
		<br />
		Image dataURI:
		<pre>{{$ctrl.uploadme}}</pre>
		<br />
		<button class="button button-calm button-block" ng-click="$ctrl.uploadTest();" style="margin-top:-10px;margin-bottom:25px;">UPLOAD</button>
	-->
</ion-content>






</ion-view>