<ion-view view-title="My Page">
	
	<ion-header-bar align-title="center" class="bar-stable">
		<header title="$ctrl.headertitle" showback="$ctrl.showbtnback"></header>
	</ion-header-bar>


	<ion-content class="padding-horizontal">
		
		<div ng-show="$ctrl.showLoader" style="text-align:center;margin-top:40px;"><img src="img/loading.gif" class="loading" /></div>
		
		
		<div ng-show="$ctrl.error_connexion" style="margin-top:30px;" class="text-center">
			
			<p class="error-msg" style="text-align:center;">{{'error_connexion_msg' | translate}}</p>
			<button class="button button-calm" ng-click="$ctrl.retry();">{{'error_retry' | translate}}</button>
		</div>
		
		
		<div ng-show="!$ctrl.showLoader && !$ctrl.error_connexion">
			<div class="card">
				

				<div class="item item-divider item-text-wrap item_category">
					<div class="text_category">{{'detail_chapter_info_global' | translate}}</div>
				</div>
				
				<div class="item item-text-wrap">
					
					
					<div class="text_key">{{'detail_num' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.num}}</div>

					<div class="text_key">{{'detail_ts' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.ts * 1000 | date:'dd-MM-yyyy HH:mm' : '+0'}}</div>
					
					<div class="text_key">{{'detail_name' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.name}}</div>

					<div class="text_key">{{'detail_firstname' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.firstname}}</div>

					<div class="text_key">{{'detail_present' | translate}}</div>
					<div class='text_value' translate>{{$ctrl.data.present_str}}</div>

				</div>
			</div>



			<div class="card">

				<div class="item item-divider item-text-wrap item_category">
					<div class="text_category">{{'detail_chapter_info_vehicule' | translate}}</div>
				</div>

				<div class="item item-text-wrap">
					<div class="text_key">{{'detail_brand' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.brand}}</div>

					<div class="text_key">{{'detail_model' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.model}}</div>
					
					<div class="text_key">{{'detail_version' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.version}}</div>

					<div class="text_key">{{'detail_year' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.year}}</div>

					<div class="text_key">{{'detail_km' | translate}}</div>
					<div class='text_value'>{{$ctrl.data.km}}</div>

				</div>
			</div>


			<div class="card">

				<div class="item item-divider item-text-wrap item_category">
					<div class="text_category">{{'detail_chapter_info_vendeur' | translate}}</div>
				</div>

				<div class="item item-text-wrap">
					<div class="text_key">{{'detail_name' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.seller_name}}</div>

					<div class="text_key">{{'detail_firstname' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.seller_firstname}}</div>
					
					<div class="text_key">{{'detail_address' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.seller_address}}</div>

					<div class="text_key">{{'detail_cp_city' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.seller_cp_city}}</div>

					<div class="text_key">{{'detail_tel' | translate}}</div>
					<div class='text_value spacer-kv'>{{$ctrl.data.seller_tel}}</div>

					<div class="text_key">{{'detail_email' | translate}}</div>
					<div class='text_value'>{{$ctrl.data.seller_email}}</div>
					
				</div>
			</div>



			<div class="card">

				<div class="item item-divider item-text-wrap item_category">
					<div class="text_category">{{'detail_chapter_datetime_ct' | translate}}</div>
				</div>

				<div class="item item-text-wrap">
					
					<datetimepicker type="date" so="$ctrl.dtpicker_so[0]"></datetimepicker>
					<datetimepicker type="time" so="$ctrl.dtpicker_so[1]"></datetimepicker>
	
					<!-- 
					<button class="button button-calm" ng-click="$ctrl.submit_date(0);" ng-disabled="$ctrl.disable_btns[0]" style="width:140px;float:left;margin-bottom:10px;" ng-show="!$ctrl.timeset">{{'form_save' | translate}}</button>
					 -->
					<div ng-show="$ctrl.disable_btns[0]" style="text-align:center;margin-top:10px;"><img src="img/loading.gif" class="loading-sm" /></div>
					
					<p class="error-msg" style="text-align:right;" translate>{{$ctrl.error_msg_time1}}</p>
					<p class="valid-msg" style="text-align:right;margin-right:0px;margin-top:14px;" translate>{{$ctrl.valid_msg[0]}}</p>
				</div>
			</div>
			
			
			
			
			<div ng-show="$ctrl.timeset">
				
				<div class="card">

					<div class="item item-divider item-text-wrap item_category" style="min-height: 46px;">

						<div style="margin-right:-37px;padding-top:-10px;float:right;">
							<ion-checkbox ng-model="$ctrl.unavailable_checked" class="checkbox-header" ng-click="$ctrl.onClickUnavailable($event);"></ion-checkbox>
						</div>

						<div class="text_category">{{'detail_chapter_unavailable' | translate}}</div>
					</div>

					<div class="item item-text-wrap" style="padding:0;">
						<ion-list>
							<ion-radio ng-model="$ctrl.unavailable_reason" ng-value="1" ng-click="$ctrl.onClickReason($event);">{{'detail_unavailable1' | translate}}</ion-radio>
							<ion-radio ng-model="$ctrl.unavailable_reason" ng-value="2" ng-click="$ctrl.onClickReason($event);">{{'detail_unavailable2' | translate}}</ion-radio>
							<ion-radio ng-model="$ctrl.unavailable_reason" ng-value="3" ng-click="$ctrl.onClickReason($event);">{{'detail_unavailable3' | translate}}</ion-radio>
						</ion-list>

						<button class="button button-calm" ng-click="$ctrl.submit_unavailable();" ng-disabled="$ctrl.disable_btns[2]" style="width:140px;float:left;margin-bottom:10px;margin-left:16px;margin-top:14px;">{{'form_save' | translate}}</button>
						
						<div ng-show="$ctrl.disable_btns[2]" style="text-align:right;margin-right:12px;margin-top:14px;"><img src="img/loading.gif" class="loading-sm" /></div>
						
						<p class="error-msg" style="text-align:right;margin-right:20px;margin-top:14px;" translate>{{$ctrl.error_msg_unavailable}}</p>
						<p class="valid-msg" style="text-align:right;margin-right:20px;margin-top:14px;" translate>{{$ctrl.valid_msg[2]}}</p>
					</div>
				</div>



				<div class="card">

					<div class="item item-divider item-text-wrap item_category">

						<div style="margin-right:-37px;padding-top:-10px;float:right;">
							<ion-checkbox ng-model="$ctrl.checked2" ng-click="$ctrl.onClick_cbtime2($event);" class="checkbox-header"></ion-checkbox>
						</div>

						<div class="text_category">{{'detail_chapter_datetime_ct2' | translate}}</div>

					</div>

					<div class="item item-text-wrap">
						
						<datetimepicker type="date" so="$ctrl.dtpicker_so[2]"></datetimepicker>
						<datetimepicker type="time" so="$ctrl.dtpicker_so[3]"></datetimepicker>

						<button class="button button-calm" ng-click="$ctrl.submit_date(1);" ng-disabled="$ctrl.disable_btns[1]" style="width:140px;float:left;margin-bottom:10px;">{{'form_save' | translate}}</button>
						
						
						<div ng-show="$ctrl.disable_btns[1]" style="text-align:right;margin-right:-4px;margin-top:14px;"><img src="img/loading.gif" class="loading-sm" /></div>
						
						<p class="error-msg" style="text-align:right;" translate>{{$ctrl.error_msg_time2}}</p>
						<p class="valid-msg" style="text-align:right;margin-right:0px;margin-top:14px;" translate>{{$ctrl.valid_msg[1]}}</p>
					</div>
				</div>
				
			</div>
			
			
			<button class="button button-calm button-block" ng-click="$ctrl.click_exam();" style="margin-top:-10px;margin-bottom:25px;" ng-show="$ctrl.timeset">{{'form_clickexam' | translate}}</button>
			
			<button class="button button-calm button-block" ng-click="$ctrl.submit_date(0);" style="margin-top:-10px;margin-bottom:25px;" ng-show="!$ctrl.timeset">{{'form_setdatetime' | translate}}</button>
			
			
			
		</div>
		
	</ion-content>



</ion-view>