<div style="margin-bottom:20px;">
	<button class="button button-outline button-calm" style="float:right; width:140px;" ng-click="$ctrl.choose();" ng-show="$ctrl.isEditable">{{'form_choose' | translate}}</button>
	<div class="text_key" translate>{{$ctrl.label}}</div>
	<div class='text_value'><span ng-show="$ctrl.visible">{{$ctrl.outputStr}}</span>&nbsp;<div>
</div>