#pagerapport {
	margin:0 7em;
	padding:0;
}
#pagerapport table, #pagerapport img {
	page-break-inside:avoid;
}
#pagerapport .sectiontitle {
	margin-left:-7em;
	margin-bottom: 1em;
}
#pagerapport .photos .photo {
	max-width:30%;
	margin:3px;
}
#pagerapport .threecolumn {
	display:inline-block;
	width:30%;
	text-align:center;
	overflow:hidden;
}
#pagerapport .twocolumnheader {
	display:inline-block;
	width:10em;
	margin-bottom: 0.5em;
}
#pagerapport .twocolumnright {
	display:inline-block;
	margin-bottom: 0.5em;
}
#pagerapport .synthese li {
	margin:1em;
}
#pagerapport .barreprogression {
	max-width:50em;
}
#pagerapport .distinctionkm {
	float:right;
	position:relative;
}
#pagerapport .distinctionkm .distinctionkminside {
	position:absolute;
	/*border:solid 1px red;*/
	top:154px;
	left:53px;
	width:243px;
	height:92px;
}
#pagerapport .tableaukm {
	width:100%;
	border-collapse:collapse;
	/*margin:0 -7em 0 -7em;*/
}
#pagerapport .tableaukm th {
	border-bottom:solid 3px #4f81bd;
	text-align:center;
	padding:0.5em;
}
#pagerapport .tableaukm td {
	text-align:center;
	padding:0.5em;
}
#pagerapport .tableaukm tr:nth-child(2) td {
	font-weight:bold;
}
#pagerapport .tableaukm tr td:nth-child(1) {
	border-right:solid 1px #4f81bd;
	font-weight:bold;
	color:#0070c0;
}
#pagerapport .tableaukm tr:last-child td:not(:nth-child(1)) {
	border-bottom:solid 1px #4f81bd;
}
#pagerapport .tableaukm tr td:last-child {
	border-right:solid 1px #4f81bd;
}
#pagerapport .tableaukm tr:nth-child(2n) td:not(:nth-child(1)) {
	background-color:#d3dfee;
}
#pagerapport .tableaukm tr:last-child td {
	font-weight:bold;
	color:red;
}
#pagerapport .cadreinfo {
	border:solid 1px black;
	background:#ebebeb;
	padding:0.5em;
	margin:0.5em;
}
