/* Empty. Add your own CSS if you like */


.hcenter {
	
    margin-left: auto;
    margin-right: auto;
    
    display: block;
}


.vcenter {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin-top:auto;
    margin-bottom:auto;
    width:100%;
}


.border-debug{
	border: 1px dotted red;
}





/* -----------------------------------------------------------*/



p.error-msg{
	color:red !important;
	font-weight:bold;
	
}
p.valid-msg{
	color:green !important;
	font-weight:bold;
}
p.info-msg{
	
}



.text_category{
	font-weight:bold;
	color:white;
}



.text_key{
	font-weight:bold;
}

.text_value{
	color:#aaaaaa;
}

.spacer-kv{
	margin-bottom:10px;
}


.card .item.item-divider{
	background-color:#009ada;
}

.card{
	margin-bottom:40px;
}


.checkbox-header{
	background-color:transparent;
}

.loading{
	width:60px;
}
.loading-sm{
	width:45px;
}


.item.checkbox-header{
	background-color:transparent;
}
.checkbox{
	background-color:transparent;
}

.button.button-light.button_lang{
	width:50px;
	font-weight:bold;
	color:#009ada;
}
.button.button-light.button_demo{
	width:67px;
	font-weight:bold;
	color:#009ada;
}


.bar.bar-stable .title{
	color:#009ada !important;
}

.colorcalm{
	color:#009ada !important;
}

.colordone{
	color:#bbb;
}



/*____________________________________________________________________________*/
/* form */



.input_label{
	font-weight:bold;
	margin-top:4px;
	margin-bottom:6px;
}
.input_required{
	color:red;
}

.debug_info{
	color:#F88;
	font-size:10px;
}
p.question_label{
	font-weight:bold;
	margin-top:18px;
	margin-bottom:-10px;
}
p.question_label_sub{
	margin-top:18px;
	margin-bottom:0px;
	color:#aaa;
}



.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
  background: #009ada !important; 
  border-color: #009ada !important;
}


p.error-msg.question-error-msg{
	
	margin-top:6px;
	margin-bottom:12px;
	font-weight:normal;
}


.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: #eff9fc; }
    
input[disabled]{
	background-color:white;
}

input.dynvalue{
	color:red;
}

.mention_help{
	color:#aaa;
	font-style:italic;
	font-size:12px;
}




/*__________________________________________________________________________*/
/* modal */

@media (min-width: 680px) {
  #modal_accept_demande{
	  width:60%;
	  height:620px;
	  margin-top:-310px;
	  top:50%;
  }
}

.popup_confirm .popup{
	width:300px;
	text-align:center;

}