<!-- 
page questions<br />
_____________________________________________<br />
-->

<div ng-show="!showLoader2">
	<div id="container_questions" ng-show="!$ctrl.isEnd" style="margin-top:30px;"></div>
	
	
	<div class="card" id="container_end" ng-show="$ctrl.isEnd">
	
		<div class="item item-divider item-text-wrap item_category">
			<div class="text_category">{{'exam_end_title' | translate}}</div>
		</div>
		
		<div class="item item-text-wrap">
			
			<p>{{'exam_end_desc' | translate}}</p>
			<p>{{'exam_end_desc2' | translate}}</p>
			
			
		</div>
	</div>
	
	
	
	<p class="error-msg" style="text-align:center;margin-top:30px;" translate>{{valid.error_msg}}</p>
	<div ng-show="valid.showLoader" style="text-align:center;margin-top:40px;"><img src="img/loading.gif" class="loading" /></div>
	
	<button class="button button-calm button-block" ng-disabled="valid.showLoader" ng-click="$ctrl.clickValid();" style="margin-top:30px;margin-bottom:25px;" translate>{{submit_label}}</button>
</div>