<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->


<!-- type picture -->
<div style="{{$ctrl.customstyle}}">
	
	<p class="question_label">
		<span class="input_label" translate>{{$ctrl.text}}</span>
		<span class="input_required" ng-show="$ctrl.dataobj.req">*</span>
	</p>
	
	<div style="margin-top:20px;">
		<button class="button button-calm icon-left ion-camera" ng-click="$ctrl.onclick($event);">&nbsp;{{'exam_add_picture' | translate}}</button>
		<span style="margin-left:12px;">
			<i class="icon ion-checkmark colorcalm" style="font-size:26px;margin-right:16px;" ng-repeat="item in $ctrl.pictures"></i>
		</span>
	</div>
	<!-- <div class="mention_help" style="margin-top:3px;" translate>examglobal_helppic</div> -->
</div>






<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>




