<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->


<!-- type label -->

<div style="{{$ctrl.customstyle}}">
	
	<div ng-show="$ctrl.dataobj.inst">
	
		<!-- ion-alert, ion-alert-circled-->
		
		<p class="question_label colorcalm" style="margin-top:-5px;margin-bottom:40px;">
			<i class="icon ion-ios-information colorcalm" style="font-size:26px;"></i>
			<span style="margin-left:8px;" translate>{{$ctrl.text}}</span>
		</p>
	</div>
	
	<p ng-show="!$ctrl.dataobj.inst" class="question_label" translate>{{$ctrl.text}}</p>
	
	<p ng-show="$ctrl.dataobj.sub" class="question_label_sub" translate>{{$ctrl.dataobj.sub}}</p>
</div>





<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>



