<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->


<!-- type text -->

<div style="{{$ctrl.customstyle}}">
	
	<p style="margin-top:10px;">
		<span class="input_label" translate>{{$ctrl.text}}</span>
		<span class="input_required" ng-show="$ctrl.dataobj.req">*</span>
	</p>
	
	
	<label class="item item-input">
		<!-- <input type="text" placeholder="{{'login_email' | translate}}" ng-model="$ctrl.data"> -->
		<input ng-show="{{!$ctrl.dataobj.textarea}}" type="{{$ctrl.type}}" ng-model="$ctrl.data" ng-disabled="$ctrl.dynvalue!=''" class="{{$ctrl.dynvalue!='' ? 'colorcalm' : ''}}">
		
		<textarea ng-show="{{$ctrl.dataobj.textarea}}" ng-model="$ctrl.data" style="height:150px;"></textarea>
	</label>
</div>




<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>



