<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->





<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>





<!-- type checkbox -->

<div style="{{$ctrl.customstyle}}">
	<ion-checkbox ng-model="$ctrl.data" ng-checked="{{$ctrl.data==true}}" class="item-checkbox-right" ng-click="$ctrl.onclick($event);"><span translate>{{$ctrl.text}}</span></ion-checkbox>
</div>


