<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->





<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>





<!-- type radio -->

<div style="{{$ctrl.customstyle}}">
	<ion-radio ng-model="$parent.radiodata[$ctrl.idparent]" class="item-text-wrap" name="{{$ctrl.idparent}}" ng-value="$ctrl.dataobj.ind" ng-click="$ctrl.onclick($event);"><span translate>{{$ctrl.text}}</span></ion-radio>
</div>


