html, body
{
	padding: 0;
	margin: 0;
}
body
{
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	position: relative;
	-webkit-text-size-adjust: none;
}
body *
{
	text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	font-weight: bold;
	margin: 20px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: inherit;
	text-decoration: underline;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #D6EDF3;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;


	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.footer.fixed
{
	position: fixed;
	bottom: 0;
	left: 0;
}
.header a
{
	display: block;
	width: 50px;
	height: 44px;
	padding: 11px;
	position: absolute;
	top: 0;
	left: 0;
}
.header a:before,
.header a:after
{
	content: '';
	display: block;
	background: #009bde;
	height: 3px;
}
/*.header a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}*/
.header a span {
    background: #009bde;
    display: block;
    height: 3px;
    margin: 5px 0;
}


nav.mm-menu .mm-title {
    font-size: 20px !important;
    display: none;
}
nav#menu.mm-menu li:hover {
    background: #000;
    transition: 1s;
}
nav#menu.mm-menu li:hover a, nav#menu.mm-menu li:hover span{
    color: #fff;
     transition: 1s;
}

nav.mm-menu .mm-title:hover {
    background: transparent !important;
}

nav#menu.mm-menu .mm-next:hover span{
	color: #fff !important;
}

.content
{
	padding: 150px 50px 50px 50px;
}

nav#menu.mm-menu {
    /*background: rgba(0, 202, 255, 0.2);*/
    background: rgb(170, 218, 229);
}
nav#menu.mm-menu a, nav#menu.mm-menu span {
    color: #009bde;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    text-transform: capitalize;
}
/*nav#menu.mm-menu li:hover:after {
    border-color: transparent;
    transition: 0.5s;
}
.mm-panel.mm-hasnavbar .mm-navbar{
	display: none !important;
}
.mm-panels>.mm-panel.mm-hasnavbar{
	padding-top: 0 !important;
}*/

.mm-navbar{
	border-bottom: 2px solid !important;
}
.mm-listview>li:not(.mm-divider):after{
	border-bottom: 2px solid #fff !important;
}

nav#menu.mm-menu a:before, nav#menu.mm-menu a:after {
    border-color: #fff;
}
nav#menu.mm-menu li:after {
    border-color: #fff;
    left: 0;
}
.mm-navbar {
    border-color: #fff !important;
}
nav#menu.mm-menu a:focus {
    outline: 0 none;
}

.header a {
    visibility: hidden;
}
.header a:before, .header a:after {
    -webkit-transition-duration: 0s, 0.3s, 0s;
    transition-duration: 0s, 0.3s, 0s;
    -webkit-transition-delay: 0.2s,0s,0s;
    transition-delay: 0s, 0.3s, 0s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    position: relative;
}
.header a:after {
    -webkit-transition-property: bottom,-webkit-transform,background;
    transition-property: bottom,transform,background;
}
.mm-opening .header a:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.3s, 0s;
    transition-delay: 0s, 0.3s, 0s;
    top: -7px;
}
.header a:before {
    -webkit-transition-property: top,-webkit-transform,background;
    transition-property: top,transform,background;
}
.mm-opening .header a:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.3s, 0s;
    transition-delay: 0s, 0.3s, 0s;
    top: 9px;
}
.mm-opening .header a span {
    background: transparent;
}



/*img_page*/

.cars ul {
    padding: 0;
    margin-bottom: 0;
}
.cars ul li{
	list-style: none;
}
.cars ul li img{
	width: 100%;
}
.row .cars [class*="carSlider"]{
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}

/*img_page*/





@media (max-width: 1080px){
	.header a {
	    visibility: visible;
	}

	.mk_abc {
	    position: fixed;
	    z-index: 999;
	    width: 100%;
	}
	#indexL1 {
    	margin-top: 40px;
	}
	#indexL2 {
	    margin-top: 40px;
	}
}
@media (max-width: 480px){
#index {
    height: 145px !important;
}
}

