<!-- 
<span class='debug_info'>iditem : {{$ctrl.iditem}}, type : {{$ctrl.type}}, dyndata : {{$ctrl.dataobj.dyndata}}</span>
 -->


<!-- type label -->

<div ng-if="$ctrl.type=='label'" style="{{$ctrl.customstyle}}">
	
	<div ng-show="$ctrl.dataobj.inst">
	
		<!-- ion-alert, ion-alert-circled-->
		
		<p class="question_label colorcalm" style="margin-top:-5px;margin-bottom:40px;">
			<i class="icon ion-ios-information colorcalm" style="font-size:26px;"></i>
			<span style="margin-left:8px;" translate>{{$ctrl.text}}</span>
		</p>
	</div>
	
	<p ng-show="!$ctrl.dataobj.inst" class="question_label" translate>{{$ctrl.text}}</p>
	
	<p ng-show="$ctrl.dataobj.sub" class="question_label_sub" translate>{{$ctrl.dataobj.sub}}</p>
</div>


<!-- type text -->

<div ng-if="$ctrl.type=='text' || $ctrl.type=='number'" style="{{$ctrl.customstyle}}">
	
	<p style="margin-top:10px;">
		<span class="input_label" translate>{{$ctrl.text}}</span>
		<span class="input_required" ng-show="$ctrl.dataobj.req">*</span>
	</p>
	
	
	<label class="item item-input">
		<!-- <input type="text" placeholder="{{'login_email' | translate}}" ng-model="$ctrl.data"> -->
		<input ng-show="{{!$ctrl.dataobj.textarea}}" type="{{$ctrl.type}}" ng-model="$ctrl.data" ng-disabled="$ctrl.dynvalue!=''" class="{{$ctrl.dynvalue!='' ? 'colorcalm' : ''}}">
		
		<textarea ng-show="{{$ctrl.dataobj.textarea}}" ng-model="$ctrl.data" style="height:150px;"></textarea>
	</label>
</div>


<!-- type picture -->
<div ng-if="$ctrl.type=='picture'" style="{{$ctrl.customstyle}}">
	
	<p class="question_label">
		<span class="input_label" translate>{{$ctrl.text}}</span>
		<span class="input_required" ng-show="$ctrl.dataobj.req">*</span>
	</p>
	
	<div style="margin-top:20px;">
		<button class="button button-calm icon-left ion-camera" ng-click="$ctrl.onclick($event);">&nbsp;{{'exam_add_picture' | translate}}</button>
		<span style="margin-left:12px;">
			<i class="icon ion-checkmark colorcalm" style="font-size:26px;margin-right:16px;" ng-repeat="item in $ctrl.pictures"></i>
		</span>
	</div>
	<!-- <div class="mention_help" style="margin-top:3px;" translate>examglobal_helppic</div> -->
</div>






<p class="error-msg question-error-msg" ng-if="$ctrl.showError" style="{{$ctrl.customstyle}}" translate>{{$ctrl.msgError}}</div>





<!-- type radio -->

<div ng-show="{{$ctrl.type=='radio'}}" style="{{$ctrl.customstyle}}">
	<ion-radio ng-model="$parent.radiodata[$ctrl.idparent]" class="item-text-wrap" name="{{$ctrl.idparent}}" ng-value="$ctrl.dataobj.ind" ng-click="$ctrl.onclick($event);"><span translate>{{$ctrl.text}}</span></ion-radio>
</div>



<!-- type checkbox -->

<div ng-if="$ctrl.type=='checkbox'" style="{{$ctrl.customstyle}}">
	<ion-checkbox ng-model="$ctrl.data" ng-checked="{{$ctrl.data==true}}" class="item-checkbox-right item-text-wrap" ng-click="$ctrl.onclick($event);"><span translate>{{$ctrl.text}}</span></ion-checkbox>
</div>


