<ion-view view-title="Login" name="login-view">


	<ion-header-bar align-title="center" class="bar-stable">
		<header title="$ctrl.headertitle" showback="$ctrl.showbtnback"></header>
	</ion-header-bar>
	
	<ion-content class="padding">

		<div class="row row-center" style="height:100%">
			<div class="col" style="height:90%">

				<div class="list list-inset">
					
					<img src="img/logo.png" class="hcenter" style="margin-bottom:50px;width:80%;max-width:800px;">

					<label class="item item-input">
						<input type="text" placeholder="{{'login_email' | translate}}" ng-model="$ctrl.email">
					</label>
					<label class="item item-input">
						<input type="password" placeholder="{{'login_pass' | translate}}" ng-model="$ctrl.password">
					</label>
				</div>
				
				<button class="button button-block button-calm" ng-click="$ctrl.clickLogin()" ng-disabled="$ctrl.disable_btn">{{'login_valid' | translate}}</button>

				<p class="error-msg" style="text-align:center;margin-top:30px;" translate>{{$ctrl.error_msg}}</p>
				<div ng-show="$ctrl.showLoader" style="text-align:center;margin-top:40px;"><img src="img/loading.gif" class="loading" /></div>

			</div>
		</div>

		
	</ion-content>
</ion-view>