<div class="buttons" ng-show="$ctrl.showback">
	<button class="button button-icon" style="color:#009ada;" ng-click="$ctrl.clickBack();"><i class="icon ion-android-arrow-back"></i></button>
</div>

<div class="buttons" ng-show="$ctrl.demo">
	<button class="button button-light button_demo" style="color:#009ada;" ng-click="$ctrl.clickDemo();" translate>btn_demo</button>
</div>

<div class="buttons" ng-show="{{$ctrl.obj.show_debug_exam}}">
	<button class="button button-icon" style="color:#009ada;" ng-click="$ctrl.clickDebugExam(-1);"><i class="icon ion-android-arrow-back"></i></button>
	&nbsp;&nbsp;
	<button class="button button-icon" style="color:#009ada;" ng-click="$ctrl.clickDebugExam(+1);"><i class="icon ion-android-arrow-forward"></i></button>
</div>


<h1 class="title" translate>{{$ctrl.title}}</h1>

<div class="buttons">
	<button class="button button-light button_lang" ng-click="$ctrl.clickLanguage();">{{$ctrl.lang | uppercase}}</button>
</div>



<script id="modal-lang.html" type="text/ng-template">
	<ion-modal-view style="text-align:center;height:320px;">
		<ion-header-bar>
			<h1 class="title" style="text-align:center;">{{'form_chooselang' | translate}}</h1>
			
		</ion-header-bar>
		
		<ion-content>
			<ion-list>
				<ion-radio ng-repeat="item in langitems" ng-model="$ctrl.lang" ng-value="item.code" ng-click="$ctrl.select($event);"><span style="position:relative;top:-18px;left:20px;font-size:18px;font-weight:bold;">{{item.label}}</span>&nbsp;&nbsp;&nbsp;<img ng-src="img/lang/{{item.code}}.png" style="position:relative;top:12px;left:20px;margin-bottom:18px;width:44px;"></ion-radio>
			</ion-list>
		</ion-content>
		
	</ion-modal-view>
</script>