<!-- form-accept-demande-modal.html -->

<!--<ion-modal-view style="text-align:center;height:600px;margin-top:-300px;top:50%">-->
<ion-modal-view id="modal_accept_demande">
	<div style="text-align:center;">
	<ion-header-bar>
		<h1 class="title" style="text-align:center;" translate="global_demande_num" translate-values='{x: idDemandePopup}'></h1>
		
	</ion-header-bar>
	
	<ion-content style="margin-top:20px;">
		<div style="margin-left:20px;margin-right:20px;margin-top:0px;">
			<p>{{'home_popup_desc1' | translate}}</p>
			<p translate='home_popup_desc2' translate-values='{x1: "<b>", x2 : "</b>"}'></p>
			<br />
			<p>{{'home_popup_desc3' | translate}} : <span style='font-weight:bold;' translate='detail_x_minutes' translate-values='{x: "60"}'></span></p>
		</div>

		<div style="margin-top:40px;">
			<ion-radio ng-model="answer" class="item-text-wrap" ng-value="1" ng-click="click_answer(1);" ng-disabled="popup_submit">{{'home_popup_yes' | translate}}</ion-radio>
			<ion-radio ng-model="answer" class="item-text-wrap" ng-value="0" ng-click="click_answer(0);" ng-disabled="popup_submit">{{'home_popup_no' | translate}}</ion-radio>
		</div>

		<button class="button button-calm button-block padding" ng-click="click_valid_demande();" style="margin-top:0px;" ng-disabled="popup_submit">{{'home_popup_valid' | translate}}</button>

		<div ng-show="popup_submit" style="text-align:center;margin-top:15px;"><img src="img/loading.gif" class="loading" /></div>
		
		<p ng-show="error_msg!=''" class="error-msg" style="text-align:center;margin-top:20px;"><span translate>{{error_msg}}</span></p>
		
	</ion-content>
	</div>
</ion-modal-view>