<ion-view view-title="My Page">
	
 	<ion-header-bar align-title="center" class="bar-stable">
		<header title="headertitle" showback="showbtnback" demo="true"></header>
	</ion-header-bar>
	

	<ion-content>

		<div ng-show="showLoader" style="text-align:center;margin-top:40px;"><img src="img/loading.gif" class="loading" /></div>
		
		<ion-list ng-show="!showLoader">
			<ion-item class="item-icon-left" ng-repeat="item in listItemsDisplay" href="#detail/{{item.id}}">

				 <i class="icon ion-ios-arrow-forward colorcalm"></i>
				 <!-- 
				 ion-ios-arrow-forward,ion-ios-compose-outline,ion-compose,ion-search
				 -->
				 
				
				<h2 translate="global_demande_num" translate-values='{x: item.id}'></h2>

				<p>{{item.prenom}} {{item.nom}}</p>
				
				
				<span class="item-note" style="margin-right:-30px;margin-bottom:-10px;" ng-show="{{!item.displayCtdate}}"><span  translate="home_date_demande" translate-values='{date: item.dm_date_formated, time: item.dm_time_formated}'></span></span>
				
				<span class="item-note colorcalm" style="margin-right:-30px;margin-bottom:-10px;" ng-show="{{item.displayCtdate}}" translate="home_date_ct" translate-values='{date: item.ct_date_formated, time: item.ct_time_formated}'></span>

			</ion-item>
		</ion-list>
		
		<div ng-show="error_connexion" style="margin-top:30px;" class="text-center">
			<p class="error-msg" style="text-align:center;">{{'error_connexion_msg' | translate}}</p>
			<button class="button button-calm" ng-click="retry();">{{'error_retry' | translate}}</button>
		</div>

		<div ng-show="no_result" style="margin-top:30px;" class="text-center">
			<p class="info-msg" style="text-align:center;">{{'home_no_result' | translate}}</p>
		</div>
	</ion-content>


</ion-view>