*{
	font-family:Arial;
}

body{
	margin:30;
	line-height:1.3;
}

.selected{
	color:#009ada;
	font-weight:bold;
}

h2.chapter-title{
	color:#009ada;
	margin-bottom:34px;
}

.label{
	font-weight:bold;
}
.label_textarea{
	font-weight:bold;
}



.text_key{
	/* font-weight:bold; */
}

.text_value{
	color:#aaaaaa;
	margin-top:0px;
}

img.img-questions{
	width:250px;
	margin-bottom:20px;
}



.level0{
	margin-left:0px;
}
.level1{
	margin-left:30px;
}
.level2{
	margin-left:60px;
}
.level3{
	margin-left:90px;
}
.level4{
	margin-left:120px;
}
.level5{
	margin-left:150px;
}
