<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulletin de livraison</title>
    <link rel="stylesheet" type="text/css" href="{{ bootstrap_css }}" />
    <style type="text/css">
        .page {
            width: 210mm;
            min-height: 287mm;
            /*padding: 20mm;*/
            margin: 10mm auto;
            background: white;
        }

        #customer {
            margin-top: 40px;
        }

        #order {
            margin-top: 70px;
        }

        #informations {
            margin-top: 40px;
        }

        #footer {
            margin-top: 170px;
			padding: 10px;
			padding-bottom:0px;
            border-bottom: 5px solid #009ad0;
        }

        .title {
            text-transform: uppercase;
            background: #009ad0;
            color: #000;
            font-size: 26px;
            padding: 10px 20px;
            text-align: center;
            font-weight: bold;
        }

        .noborder > td {
            border: none!important;
        }

        table.table-bordered {
            border-bottom: none!important;
            border-left: none!important;
            border-right: none!important;
        }

        th {
            background: #009ad0;
        }

        .spacing {
            padding-left: 100px!important;
        }

        td.bordered {
            border: 1px solid #ddd!important;
            border-left: none!important;
        }
    </style>
</head>
<body>
    <div class="container page">
        <!-- Logo et entête -->
        <div id="header" class="row">
            <div class="col-xs-6">
                <img src="{{ logo }}" width="120" />
                <p>
                    Route de Lausanne 17<br/>
                    1610 Oron-la-Ville<br/>
                    contact@autospot.ch<br/>
                    www.autospot.ch
                </p>
                <p>{{ date }}</p>
            </div>
            <div class="col-xs-6">
                <br />
                <p class="title">BULLETIN DE LIVRAISON<p>
            </div>
        </div>
        <!-- Nom et adresse -->
        <div id="customer" class="row">
            <div class="col-xs-5 col-xs-offset-7">
                <strong>{{ lastname }} {{ firstname }}</strong><br />
                {{ address }}<br />
                {{ zipcode }} {{ city }}
            </div>
        </div>
        <!-- Détails commande -->
        <div id="order" class="row">
            <div class="col-xs-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Quantité</th>
                            <th>Désignation</th>
                            <th>Concerne</th>
                            <th>Prix</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td>
                                Bannière automobile<br/>
                                Feutre indélébile noir<br/>
                                Envoi en prioritaire à votre domicile
                            </td>
                            <td>Insertion de l’annonce N°{{ annonce }} sur autospot.ch</td>
                            <td class="text-center">4.55.-</td>
                        </tr>
                        <tr class="noborder">
                            <td></td>
                            <td></td>
                            <td class="spacing"><small>Total Hors Taxe</small></td>
                            <td class="text-center bordered"><small>4.55.-</small></td>
                        </tr>
                        <tr class="noborder">
                            <td></td>
                            <td></td>
                            <td class="spacing"><small>TVA à 7.7%</small></td>
                            <td class="text-center bordered"><small>0.35.-</small></td>
                        </tr>
                        <tr class="noborder">
                            <td></td>
                            <td></td>
                            <td class="spacing"><small>Total TTC en frs</small></td>
                            <td class="text-center bordered"><small>4.90.-</small></td>
                        </tr>
                        <tr class="noborder">
                            <td></td>
                            <td></td>
                            <td class="spacing"><small>Rabais</small></td>
                            <td class="text-center bordered"><small>4.90.-</small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Informations -->
        <div id="informations" class="row">
            <div class="col-xs-12">
                <p>En insérant votre annonce numéro {{ annonce }} sur autospot, vous avez souhaité bénéficier de notre promotion en recevant gratuitement à votre domicile notre bannière automobile et un feutre indélébile noir.</p>
                <p>Profitez-en sans plus attendre en la fixant sur le vitrage de la voiture que vous avez insérée sur autospot.ch.</p>
            </div>
        </div>
        <div id="footer" class="row">
            <div class="col-xs-12">
                <p>Cordialement,<br />L’équipe d’autospot vous remercie de votre fidélité</p>
            </div>
        </div>
    </div>
</body>
</html>