
<div>
	<div class="card">
		
		<!-- 
		<div class="item item-divider item-text-wrap item_category">
			<div class="text_category">{{'exam_title_page_info' | translate}}</div>
		</div>
		 -->
		<div class="item item-text-wrap">
			
			<div class="text_key">{{'detail_brand' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.brand}}</div>
			
			<div class="text_key">{{'detail_model' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.model}}</div>
			
			<div class="text_key">{{'detail_version' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.version}}</div>
			
			<div class="text_key">{{'detail_year' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.year}}</div>
			
			<div class="text_key">{{'detail_carburant' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.carburant}}</div>
			
			<div class="text_key">{{'detail_engine' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.engine}}</div>
			
			<div class="text_key">{{'detail_nbdoors' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.nbdoors}}</div>
			<!--
			<div class="text_key">{{'detail_shortdesc' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.shortdesc}}</div>
			
			<div class="text_key">{{'detail_longdesc' | translate}}</div>
			<div class='text_value spacer-kv'>{{$ctrl.datavehicule.longdesc}}</div>
			-->

			<div class="text_key">{{'detail_instructions' | translate}}</div>
			<div class='text_value spacer-kv'>{{'detail_expert_instruct' | translate}}</div>
			
			<div class="text_key">{{'detail_time_length' | translate}}</div>
			<div class='text_value spacer-kv' translate='detail_x_minutes' translate-values='{x: 60}'></div>
			
			
			<div class="text_key">{{'detail_nb_ctrl_pts' | translate}}</div>
			<div class='text_value spacer-kv'>85</div>
			
		</div>
		
		
		
	</div>
	
	<button class="button button-calm button-block" ng-click="$ctrl.clickNext();" style="margin-top:-10px;margin-bottom:25px;">{{'exam_next' | translate}}</button>
