

@font-face {

    font-family: 'TYPOGRAPHPROExtraBold';

    src: url('fonts/typograph_pro_extra_bold-webfont.eot');

    src: url('fonts/typograph_pro_extra_bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/typograph_pro_extra_bold-webfont.woff') format('woff'),

         url('fonts/typograph_pro_extra_bold-webfont.ttf') format('truetype'),

         url('fonts/typograph_pro_extra_bold-webfont.svg#TYPOGRAPHPROExtraBold') format('svg');

    font-weight: normal;

    font-style: normal;

	text-transform:none;



}



@font-face {

    font-family: 'DejaVuSansBook';

    src: url('fonts/dejavusans-webfont.eot');

    src: url('fonts/dejavusans-webfont.eot?#iefix') format('embedded-opentype'),

         url('fonts/dejavusans-webfont.woff') format('woff'),

         url('fonts/dejavusans-webfont.ttf') format('truetype'),

         url('fonts/dejavusans-webfont.svg#DejaVuSansBook') format('svg');

    font-weight: normal;

    font-style: normal;



}





*{

	font-family:arial;

}



body{

	font-size:12px;

	background-color:#FFFFFF;

}



#main{

	margin-left: auto;

	margin-right: auto;

	width:706px;

}





table{

	/* border:solid black 2px; */

	border-spacing:0;

	border-collapse:collapse;

	/* margin-top:20px; */

}

.listing td{

	padding:8px;
	text-align:center;

}





h1{

	text-align:right;

	font-family: 'TYPOGRAPHPROExtraBold', Arial, Helvetica, sans-serif;

	color:#00628c;

}

h2{

	text-align:left;

	font-family: 'TYPOGRAPHPROExtraBold', Arial, Helvetica, sans-serif;

	color:#00628c;

	font-size:16px;

}

.gris{

	color:#999999;

	font-size:13px;

}

#menu_main a{

	text-align:left;

	font-family: 'TYPOGRAPHPROExtraBold', Arial, Helvetica, sans-serif;

	color:#999999;

	font-size:13px;

}

#menu_main a.selected{

	color:#E7511E;

}



a{

	color:blue;

}



#menu_main{

	margin-top:-7px;

	text-align:right;

}








tr.header{

	font-weight:bold;

	color:#00628c;

	/* background-color:#9b9bb3; */

	border-bottom:solid 2px black;

	

}



tr.pair{

	background-color:#F4F7FA;

}

tr.pair2{
	background-color:#FFFFFF;
}

tr.unpair{

	background-color:#d6edf3;

}

tr.validation_pair{

	background-color:#dffedf;

}

tr.validation_unpair{

	background-color:#ccffcc;

}







.btn_disabled{

	background-color:#888888;

}



.msg_error{

	font-weight:bold;

	color:#FF0000;

}

.msg_valid{

	font-weight:bold;

	color:#00dd00;

}

.msg_logs{
	color:#999999;
}



.btnlink{

	color:#0000FF;

	font-size:10px;

	text-decoration:underline;

	cursor:pointer;

}


.btn_clickable{
	cursor:pointer;
}


#listing_line{
	margin-left: auto;
	margin-right: auto;
}





.btn_add{

	float:right;
	margin-right:10px;
}



.break{

	clear:both;

}



#up{

	position:fixed;

	bottom:10px;

	right:10px;

}









/* FORM */



label.label_form{

	/* border:solid red 1px; */

	

}

#form input, textarea{

	float:right;
	width:200px;

}
#form textarea{
	height:70px;
	display:block;
}

.label{
	float:left;
}


#form select{

	float:right;

	width:200px;

}



#form{

	width:300px;

	/* border:solid blue 1px; */

	margin:auto;

	margin-top:50px;

}



#btn_submit{

	float:right;

}



#btn_close_lightview{

	position:absolute;

	right:10px;

	top:10px;

	cursor:pointer;

}

.value{
	color:#009ada;
	font-weight:bold;
}


td.cell_demande_key{
	
	font-weight:bold;
	color:black;
}



